# Web Scraping

## Definition

Web scraping is the process of extracting data from websites. It is also known as web harvesting or web data extraction. Basically, it is a technique to convert unstructured data on the web (HTML format) into structured data (database or spreadsheet or maybe JSON).

## Why Web Scraping?

Web scraping can be use for many purposes. For example, you can use web scraping to:

*  Collect data for research
* Monitor a website for new content
* Gather data from a social media website
* Scrape product information from an e-commerce website
* Scrape online travel reviews
* Electricy price monitoring (Nordpool)

## When should you scrape?

* The website does not provide an API

## When scraping is harder

* The website is built with JavaScript, if it loads the content dynamically
then you need to use a headless browser like [Selenium](https://www.seleniumhq.org/)

Today we will look at scraping HTML only.

## HTML Basics

To scrape we need to understand the basics of HTML. HTML stands for HyperText Markup Language. It is the standard markup language for creating web pages. HTML describes the structure of a web page. HTML consists of a series of elements. HTML elements tell the browser how to display the content. HTML elements are represented by tags. HTML tags label pieces of content such as "heading", "paragraph", "table", and so on. Browsers do not display the HTML tags, but use them to render the content of the page.

### DOcs on getting started from MDN

MDN docs on [getting started with HTML](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started)

### Anatomy of an HTML element

![Anatomy](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started/grumpy-cat-small.png)

## Self closing tags

Note Markdown cells can also contain html.

<img
  src="https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png"
  alt="Firefox icon" />

### Element attributes

HTML elements can have attributes. Attributes provide additional information about an element. Attributes are always specified in the start tag. Attributes usually come in name/value pairs like: name="value"

![example](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started/grumpy-cat-attribute-small.png)

## Real estate in Latvia

We will use ss.com for our scraping needs

In [1]:
# first we need an url for real estate listings in Riga
# url = 'https://www.ss.com/lv/real-estate/flats/riga/today/sell/' # would work as well for all flats
url = 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'
# will scrape from
print(f"Will scrape from {url}")

Will scrape from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/

## using developer tools to inspect elements

We can use built in developer tools to inspect elements on the page.
In Chrome right click on the element and select inspect.

In [2]:
# first for quick data retrieval we can use pandas which can read html tables

# pandas is a huge data analysis library, we will use only a small part of it

# pandas docs: https://pandas.pydata.org/pandas-docs/stable/

# pandas cheatsheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

# pandas is usually imported as pd
import pandas as pd
# if we do not have it installed, we can install it with pip install pandas
# version   
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.0.3

In [3]:
# pandas can read html tables from a url

# mdn on tables: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table

dfs = pd.read_html(url) # makes a get request to the url and tries to find tables in the html
# how many?
print(f"Found {len(dfs)} tables")

Found 6 tables

In [4]:
# so 5th table has our data
df = dfs[4]
# lets see what we have
df.head()

,0,1,2,3,4,5,6,7,8,9
0,Sludinājumi \tdatums,Sludinājumi \tdatums,Sludinājumi \tdatums,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
1,NaN,NaN,Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas...,Lienes 6A,1,23,2/2,P. kara,796 €,"18,300 €"
2,NaN,NaN,Pārdod dzīvokli tikko pēc kvalitatīva kapitālā...,Stabu 86a,1,28,1/3,P. kara,"1,607 €","45,000 €"
3,NaN,NaN,Dzīvojamā platība 160 kv. m. Projekts Park Sid...,Rūpniecības 34A,4,160,5/6,Jaun.,"1,997 €","319,500 €"
4,NaN,NaN,Iespēja dzīvot vienā no modernākajiem Latvijas...,J. Daliņa 8,3,89,18/21,Jaun.,"2,685 €","239,000 €"

In [5]:
# we have how many?
print(f"Found {len(df)} rows")
# shape
print(f"Shape: {df.shape}")

Found 31 rows
Shape: (31, 10)

In [7]:
# use first row as column names
df.columns = df.iloc[0]
# remove first row
df = df.iloc[1:]
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums,Sludinājumi \tdatums,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
1,NaN,NaN,Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas...,Lienes 6A,1,23,2/2,P. kara,796 €,"18,300 €"
2,NaN,NaN,Pārdod dzīvokli tikko pēc kvalitatīva kapitālā...,Stabu 86a,1,28,1/3,P. kara,"1,607 €","45,000 €"
3,NaN,NaN,Dzīvojamā platība 160 kv. m. Projekts Park Sid...,Rūpniecības 34A,4,160,5/6,Jaun.,"1,997 €","319,500 €"
4,NaN,NaN,Iespēja dzīvot vienā no modernākajiem Latvijas...,J. Daliņa 8,3,89,18/21,Jaun.,"2,685 €","239,000 €"
5,NaN,NaN,Iespēja dzīvot vienā no modernākajiem Latvijas...,Skanstes 29A,4,125,3/21,Jaun.,"2,040 €","255,000 €"

In [8]:
# so we need to find out the last page for our pagination

# we will use requests and beautifulsoup4

# requests docs: https://requests.readthedocs.io/en/master/

# beutifulsoup4 docs: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

# beautiful soup is a html parser because html from requests is a just a big long string

import requests
from bs4 import BeautifulSoup
# if you dot have it installed, you can install it with pip install beautifulsoup4
# you might also need to install lxml with pip install lxml for better parsing

In [9]:
# so we will make a request to the url
r = requests.get(url)
# we can check the status code
print(f"Status code: {r.status_code}")
# and the encoding
print(f"Encoding: {r.encoding}")
# first 100 characters
print(f"Text: {r.text[:100]}")

Status code: 200
Encoding: UTF-8
Text: <!DOCTYPE html>
<HTML><HEAD>
<title>SS.COM Dzīvokļi - Rīga - Centrs, Cenas, Pārdod - Sludinājumi</

In [10]:
# we could do parsing by hand but it is much easier with beautiful soup
soup = BeautifulSoup(r.text, 'lxml') # lxml is optional, but it is faster
# lets get title
print(f"Title: {soup.title}")

Title: <title>SS.COM Dzīvokļi - Rīga - Centrs, Cenas, Pārdod - Sludinājumi</title>

In [11]:
# we could find all anchor tags

# anchor on mdn : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a

# let's find all a tags
a_tags = soup.find_all('a')
# how many
print(f"Found {len(a_tags)} a tags")

Found 99 a tags

In [13]:
# if we knew that our anchor is always certain index, we could get it
a_tag = a_tags[0]
a_tag
# but we do not know that, so we will find it by text

In [14]:
# so our anchor has rel attribute and we want prev value
# rel on mdn: https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types

prev_anchor = soup.find('a', {'rel': 'prev'})
# lets see what we have
prev_anchor

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page29.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [15]:
# so let's get the href attribute
prev_href = prev_anchor.get('href') # so we use get because it is possible that there is no href in general
# of cours anchor has href
prev_href

'/lv/real-estate/flats/riga/centre/sell/page29.html'

In [17]:
# lets get the number our of our href using splits
# split by page then by .
number_str = prev_href.split('page')[-1].split('.')[0]
number_str

'29'

In [18]:
last_page = int(number_str)
last_page

29

In [19]:
# let's write a function to return a list of urls given url and the last page number
def get_urls(url, last_page):
    url_list = [url]
    for i in range(2, last_page + 1): # we do not have page 1
        url_list.append(url + f"page{i}.html")

    return url_list

# lets test it
url_list = get_urls(url, last_page)
url_list

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page26.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page27.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page28.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page29.html']

In [20]:
# now we have a list we can use our pandas to get all the data
# only thing let's add a small delay 0.3-0.5 seconds between requests
import time

dfs = []
for url in url_list:
    print(f"Getting data from {url}")
    dfs.append(pd.read_html(url)[4]) # remember we had to get 5th table
    time.sleep(0.3)
# we got a list of dataframes
# let's print last one
dfs[-1].head()

Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page26.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page27.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page28.html
Getting data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page29.html

,0,1,2,3,4,5,6,7,8,9
0,Sludinājumi \tdatums,Sludinājumi \tdatums,Sludinājumi \tdatums,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
1,NaN,NaN,"Greznā, skaistā ēkā tiek pārdots plašs, mēbelē...",Klijānu 6,2,53,3/9,Renov.,"1,604 €","85,000 €"

In [21]:
# now let's add them all up
df = pd.concat(dfs)
# shape
print(f"Shape: {df.shape}")

Shape: (870, 10)

In [22]:
# first 10
df.head(10)

,0,1,2,3,4,5,6,7,8,9
0,Sludinājumi \tdatums,Sludinājumi \tdatums,Sludinājumi \tdatums,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
1,NaN,NaN,Pārdod 5 ist dzīvokli ar 2 ieejām arhitekta Re...,Skolas 36a,5,115,1/4,P. kara,"1,591 €","183,000 €"
2,NaN,NaN,Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas...,Lienes 6A,1,23,2/2,P. kara,796 €,"18,300 €"
3,NaN,NaN,Pārdod dzīvokli tikko pēc kvalitatīva kapitālā...,Stabu 86a,1,28,1/3,P. kara,"1,607 €","45,000 €"
4,NaN,NaN,Dzīvojamā platība 160 kv. m. Projekts Park Sid...,Rūpniecības 34A,4,160,5/6,Jaun.,"1,997 €","319,500 €"
5,NaN,NaN,Iespēja dzīvot vienā no modernākajiem Latvijas...,J. Daliņa 8,3,89,18/21,Jaun.,"2,685 €","239,000 €"
6,NaN,NaN,Iespēja dzīvot vienā no modernākajiem Latvijas...,Skanstes 29A,4,125,3/21,Jaun.,"2,040 €","255,000 €"
7,NaN,NaN,"Pārdodas gaišs, saulains, mājīgs un plašs dzīv...",Vīlandes 5,4,200,4/5,Renov.,"2,250 €","450,000 €"
8,NaN,NaN,Piedāvājam iegādāties gaišu četristabu dzīvokl...,Sporta 1,4,125,2/6,Specpr.,"2,000 €","250,000 €"
9,NaN,NaN,Īpašnieks pārdod daļu no vēsturiskās ēkas pašā...,Marijas 1,Citi,315,2/6,P. kara,"1,556 €","490,000 €"

In [23]:
# use first row as column names
df.columns = df.iloc[0]
# then remove rows where Cena is in last column
df = df[df['Cena'].str.contains('Cena') == False]
# shape
print(f"Shape: {df.shape}")

Shape: (841, 10)

In [24]:
# lets make a price column that contains digits only from Cena
df['Price'] = df['Cena'].str.extract('(\d+)').astype(int)
# get info about our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 841 entries, 1 to 1
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sludinājumi 	datums  0 non-null      object
 1   Sludinājumi 	datums  0 non-null      object
 2   Sludinājumi 	datums  841 non-null    object
 3   Iela                 841 non-null    object
 4   Ist.                 841 non-null    object
 5   m2                   841 non-null    object
 6   Stāvs                841 non-null    object
 7   Sērija               841 non-null    object
 8   Cena, m2             841 non-null    object
 9   Cena                 841 non-null    object
 10  Price                841 non-null    int32
dtypes: int32(1), object(10)
memory usage: 75.6+ KB

In [25]:
# we could get basic stats on price
df.describe() # all numeric columns we only have one i think

0           Price
count  841.000000
mean   149.219976
std    110.215667
min      1.000000
25%     73.000000
50%    117.000000
75%    195.000000
max    800.000000

In [26]:
# let's group by Ist. and get price stats
df.groupby('Ist.').describe()

0     Price
      count        mean         std   min     25%    50%     75%    max
Ist.
1     121.0   56.413223   33.506634  11.0   37.00   45.0   64.00  210.0
2     292.0   96.691781   45.696303  19.0   64.75   89.5  116.25  350.0
3     251.0  182.055777   97.629856   9.0  117.00  161.0  220.00  681.0
4     107.0  239.747664  121.155529   1.0  145.00  226.0  295.00  690.0
5      39.0  281.435897  151.103275   1.0  193.00  249.0  326.50  800.0
6      25.0  271.720000  135.410955  75.0  187.00  245.0  318.00  650.0
Citi    6.0  219.333333  163.209885  89.0  106.75  142.5  303.50  490.0

In [31]:
# i can resulsts in many formats
# let's add datestamp to file name
import datetime
# get current date
datestamp = datetime.datetime.now().strftime("%Y_%m_%d")
file_name_stem = f"riga_centrs_{datestamp}"

# let's convert index to numeric sequence from 0 to len(df)
df.reset_index(inplace=True, drop=True)
# save to csv
df.to_csv(file_name_stem + ".csv", index=False)
# save to excel
df.to_excel(file_name_stem + ".xlsx", index=False)
# save to json
# df.to_json(file_name_stem + ".json", orient='records')
# we could save to sql to and pickle and many other formats

In [32]:
# IF my html does not have table or has extra requirments, i can use beautiful soup to get the data

# i still have soup let's get column names
# we want tr element with id = 'head_line'
head_line = soup.find('tr', {'id': 'head_line'})
# let's see what we have
head_line

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Sludinājumi
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td></tr>

In [33]:
# i can get td from my head_line tr element
tds = head_line.find_all('td')
# how many
print(f"Found {len(tds)} tds")

Found 8 tds

In [34]:
# i can extract text for each td
tds_text = [td.text for td in tds]
tds_text

['\n\xa0Sludinājumi\r\n\n\n\ndatums\n',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [36]:
# idea to get ads here look for tr elements whose ids start with tr_

# let's get all tr elements
tr_tags = soup.find_all('tr')
# how many
print(f"Found {len(tr_tags)} tr tags")
# now only ads trs
ads_tr_tags = [tr for tr in tr_tags if tr.get('id', '').startswith('tr_') and not tr['id'].startswith('tr_bnr')]
# trick is to use get with default value of '' so we do not get None
# because it is possible there id is not there then starswith would fail
# now I can convert to list of texts
# how many
print(f"Found {len(ads_tr_tags)} ads tr tags")

Found 39 tr tags
Found 30 ads tr tags

In [43]:
ads_texts = []
for tr in ads_tr_tags:
    tds = tr.find_all('td')
    tds_text = [td.text for td in tds]
    ads_texts.append(tds_text)
# let's look at first 2
ads_texts[:2]

[['',
  '',
  'Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas centrā. Ķieģeļu m',
  'Lienes 6A',
  '1',
  '23',
  '2/2',
  'P. kara',
  '796 €',
  '18,300  €'],
 ['',
  '',
  'Pārdod dzīvokli tikko pēc kvalitatīva kapitālā remonta ar logiem',
  'Stabu 86a',
  '1',
  '28',
  '1/3',
  'P. kara',
  '1,607 €',
  '45,000  €']]

In [44]:
# now let's extract url for each ad from 2nd td anchor element hrefe
# we can use list comprehension
ads_urls = [tr.find_all('td')[1].find('a').get('href') for tr in ads_tr_tags]
# first 3
ads_urls[:3]

['/msg/lv/real-estate/flats/riga/centre/dgogx.html',
 '/msg/lv/real-estate/flats/riga/centre/cdijn.html',
 '/msg/lv/real-estate/flats/riga/centre/bcomkb.html']

In [48]:
# lets set url_prexi
url_prefix = 'https://www.ss.com'
# now we can add prefix to each url
ads_urls = [url_prefix + url for url in ads_urls]
# first 3
ads_urls[:3]

['https://www.ss.com/msg/lv/real-estate/flats/riga/centre/dgogx.html',
 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/cdijn.html',
 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcomkb.html']

In [50]:
# finally let's add it to our ads_texts using zip
full_ads = []
for texts, href in zip(ads_texts, ads_urls):
    # print texts
    print(texts)
    # print href
    print(href)
    texts.append(href)
    full_ads.append(texts)

# first 3

['', '', 'Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas centrā. Ķieģeļu m', 'Lienes 6A', '1', '23', '2/2', 'P. kara', '796 €', '18,300  €', '/msg/lv/real-estate/flats/riga/centre/dgogx.html', '/msg/lv/real-estate/flats/riga/centre/dgogx.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/dgogx.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/dgogx.html
['', '', 'Pārdod dzīvokli tikko pēc kvalitatīva kapitālā remonta ar logiem', 'Stabu 86a', '1', '28', '1/3', 'P. kara', '1,607 €', '45,000  €', '/msg/lv/real-estate/flats/riga/centre/cdijn.html', '/msg/lv/real-estate/flats/riga/centre/cdijn.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/cdijn.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/cdijn.html
['', '', 'Dzīvojamā platība 160 kv. m. Projekts Park Side. \r\nGriestu augst', 'Rūpniecības 34A', '4', '160', '5/6', 'Jaun.', '1,997 €', '319,500  €', '/msg/lv/real-estate/flats/riga/centre/bcomkb.html', '/msg/lv/real-estate/flats/riga/centre/bcomkb.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcomkb.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcomkb.html
['', '', 'Iespēja dzīvot vienā no modernākajiem Latvijas projektiem "Skans', 'J. Daliņa 8', '3', '89', '18/21', 'Jaun.', '2,685 €', '239,000  €', '/msg/lv/real-estate/flats/riga/centre/agiod.html', '/msg/lv/real-estate/flats/riga/centre/agiod.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/agiod.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/agiod.html
['', '', 'Iespēja dzīvot vienā no modernākajiem Latvijas projektiem "Skans', 'Skanstes 29A', '4', '125', '3/21', 'Jaun.', '2,040 €', '255,000  €', '/msg/lv/real-estate/flats/riga/centre/blhic.html', '/msg/lv/real-estate/flats/riga/centre/blhic.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/blhic.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/blhic.html
['', '', 'Pārdodas gaišs, saulains, mājīgs un plašs dzīvoklis, ar 200 m2 k', 'Vīlandes 5', '4', '200', '4/5', 'Renov.', '2,250 €', '450,000  €', '/msg/lv/real-estate/flats/riga/centre/egkgj.html', '/msg/lv/real-estate/flats/riga/centre/egkgj.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/egkgj.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/egkgj.html
['', '', 'Piedāvājam iegādāties gaišu četristabu dzīvokli ar plašiem panor', 'Sporta 1', '4', '125', '2/6', 'Specpr.', '2,000 €', '250,000  €', '/msg/lv/real-estate/flats/riga/centre/bfcne.html', '/msg/lv/real-estate/flats/riga/centre/bfcne.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bfcne.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bfcne.html
['', '', 'Īpašnieks pārdod daļu no vēsturiskās ēkas pašā Rīgas centrā pie ', 'Marijas 1', 'Citi', '315', '2/6', 'P. kara', '1,556 €', '490,000  €', '/msg/lv/real-estate/flats/riga/centre/hdgbg.html', '/msg/lv/real-estate/flats/riga/centre/hdgbg.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/hdgbg.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/hdgbg.html
['', '', 'Pārdod plašu 3 istabu dzīvokli ar kopējo platību 90 m2, centrā S', 'Valdemāra 79/81', '3', '90', '2/5', 'Staļina', '1,549 €', '139,400  €', '/msg/lv/real-estate/flats/riga/centre/bkgbn.html', '/msg/lv/real-estate/flats/riga/centre/bkgbn.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bkgbn.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bkgbn.html
['', '', 'Kvalitatīvs, gaišs un gaumīgi iekārtots divistabu dzīvoklis tāla', 'Piena 4', '2', '46', '4/4', 'Renov.', '2,804 €', '129,000  €', '/msg/lv/real-estate/flats/riga/centre/bfckgb.html', '/msg/lv/real-estate/flats/riga/centre/bfckgb.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bfckgb.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bfckgb.html
['', '', 'Piedāvājam iegādāties elegantu, interesantu un gaišu dzīvokli vi', 'Skolas 14', '4', '113', '2/6', 'Renov.', '3,451 €', '390,000  €', '/msg/lv/real-estate/flats/riga/centre/gnjio.html', '/msg/lv/real-estate/flats/riga/centre/gnjio.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/gnjio.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/gnjio.html
['', '', 'Remontēts 2 istabu dzīvoklis ar panorāmas skatu no logiem. Dzīvo', 'Stabu 46/48', '2', '52', '6/6', 'P. kara', '1,558 €', '81,000  €', '/msg/lv/real-estate/flats/riga/centre/ajkgm.html', '/msg/lv/real-estate/flats/riga/centre/ajkgm.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ajkgm.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ajkgm.html
['', '', 'Pārdod skaistu īpašumu Rīgas labākajā daļā. \r\nKlusais centrs, ar', 'Vīlandes 22', '4', '126', '5/6', 'Renov.', '2,341 €', '295,000  €', '/msg/lv/real-estate/flats/riga/centre/bcgmf.html', '/msg/lv/real-estate/flats/riga/centre/bcgmf.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcgmf.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcgmf.html
['', '', 'Tiek pārdots tikko izremontēts 2 istabu dzīvoklis daudzdzīvokļu ', 'Stabu 46/48', '2', '52', '6/6', 'P. kara', '1,558 €', '81,000  €', '/msg/lv/real-estate/flats/riga/centre/eicfo.html', '/msg/lv/real-estate/flats/riga/centre/eicfo.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/eicfo.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/eicfo.html
['', '', 'Piedāvājumā dzīvoklis pirmskara ēkā Ģertrūdes ielā, pie Satekles', 'Ģertrūdes 110', '2', '51', '4/6', 'P. kara', '922 €', '47,000  €', '/msg/lv/real-estate/flats/riga/centre/ffnkd.html', '/msg/lv/real-estate/flats/riga/centre/ffnkd.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ffnkd.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ffnkd.html
['', '', 'Pārdod ļoti perspektīvu 3-istabu dzīvokli Rīgas klusajā centrā -', 'Ausekļa 2', '3', '71', '3/5', 'P. kara', '2,099 €', '149,000  €', '/msg/lv/real-estate/flats/riga/centre/ecbcm.html', '/msg/lv/real-estate/flats/riga/centre/ecbcm.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ecbcm.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ecbcm.html
['', '', 'Pārdodas silts dzīvoklis ar remontētu, labā stāvoklī. Augstais p', 'Stabu 81', '4', '110', '1/5', 'P. kara', '854 €', '93,900  €', '/msg/lv/real-estate/flats/riga/centre/bhlin.html', '/msg/lv/real-estate/flats/riga/centre/bhlin.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bhlin.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bhlin.html
['', '', 'Piedāvājam pārdošanai trīsistabu dzīvokli Rīgas vēsturiskajā cen', 'Blaumaņa 9', '3', '66', '5/6', 'Renov.', '2,394 €', '158,000  €', '/msg/lv/real-estate/flats/riga/centre/ajfxj.html', '/msg/lv/real-estate/flats/riga/centre/ajfxj.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ajfxj.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ajfxj.html
['', '', 'Dzīvoklis ar nesen veiktu kapitālo remontu, mainītiem ūdens un k', 'Ieroču 4a', '2', '31', '1/4', 'P. kara', '1,471 €', '45,600  €', '/msg/lv/real-estate/flats/riga/centre/akcpo.html', '/msg/lv/real-estate/flats/riga/centre/akcpo.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/akcpo.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/akcpo.html
['', '', 'Piedāvājumā gaumīgs dizaina dzīvoklis jaunajā projektā Klusajā c', 'Dzirnavu 37', '2', '75', '5/7', 'Jaun.', '3,987 €', '299,000  €', '/msg/lv/real-estate/flats/riga/centre/fdknl.html', '/msg/lv/real-estate/flats/riga/centre/fdknl.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/fdknl.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/fdknl.html
['', '', 'Pārdod dzīvokli attīstītāja tikko pabeigtā ēku kompleksā. \r\nĒkā\xa0', 'Avotu 46', '2', '52', '5/5', 'P. kara', '1,902 €', '98,900  €', '/msg/lv/real-estate/flats/riga/centre/bcikip.html', '/msg/lv/real-estate/flats/riga/centre/bcikip.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcikip.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bcikip.html
['', '', 'Īpašnieks pārdod siltu un saulainu dzīvokli. \r\nDzīvoklis ir prak', 'Tomsona 25', '2', '41', '5/5', 'Hrušč.', '1,354 €', '55,500  €', '/msg/lv/real-estate/flats/riga/centre/bemkif.html', '/msg/lv/real-estate/flats/riga/centre/bemkif.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bemkif.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bemkif.html
['', '', 'Dzīvoklis atrodas pagalma mājas daļā, no kura logiem paveras lab', 'Lāčplēša 43/45', '3', '54', '3/5', 'P. kara', '1,519 €', '82,000  €', '/msg/lv/real-estate/flats/riga/centre/agnnp.html', '/msg/lv/real-estate/flats/riga/centre/agnnp.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/agnnp.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/agnnp.html
['', '', 'Attīstītājs piedāvā 2-istabu dzīvokli pilnībā renovētā mājā Rīga', 'Čaka 26', '2', '44', '4/5', 'Renov.', '2,784 €', '122,500  €', '/msg/lv/real-estate/flats/riga/centre/aexkm.html', '/msg/lv/real-estate/flats/riga/centre/aexkm.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/aexkm.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/aexkm.html
['', '', 'Pārdod 1-istabas dzīvokli jaunajā projektā. Dzīvoklis aprīkots a', 'Klusā 20', '1', '36', '1/9', 'Renov.', '953 €', '34,295  €', '/msg/lv/real-estate/flats/riga/centre/bciibj.html', '/msg/lv/real-estate/flats/riga/centre/bciibj.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bciibj.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bciibj.html
['', '', 'No attīstitāja 4 ist. 2 limeņu mansarda dzīvokļis tiek piedāvāts', 'Avotu 5', '4', '88', '5/6', 'Renov.', '2,190 €', '192,720  €', '/msg/lv/real-estate/flats/riga/centre/gdgff.html', '/msg/lv/real-estate/flats/riga/centre/gdgff.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/gdgff.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/gdgff.html
['', '', 'Moderns dzīvoklis jaunajā projektā "Tomsona terass". Plašs 3-ist', 'Tomsona 30', '3', '128', '3/9', 'Jaun.', '1,953 €', '250,000  €', '/msg/lv/real-estate/flats/riga/centre/dpbop.html', '/msg/lv/real-estate/flats/riga/centre/dpbop.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/dpbop.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/dpbop.html
['', '', 'Piedāvājam iegādāties lielisku investīciju objektu Alfrēda Kalni', 'Kalniņa 2', '6', '174', '6/6', 'Renov.', '2,052 €', '357,000  €', '/msg/lv/real-estate/flats/riga/centre/bejxil.html', '/msg/lv/real-estate/flats/riga/centre/bejxil.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bejxil.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bejxil.html
['', '', 'Pārdod 2 istabu dzīvokli augstajā 1.stāvā ar skatu uz pagalmu. \r', 'Brīvības 95', '2', '65', '2/7', 'Renov.', '2,197 €', '142,780  €', '/msg/lv/real-estate/flats/riga/centre/bkeco.html', '/msg/lv/real-estate/flats/riga/centre/bkeco.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bkeco.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/bkeco.html
['', '', 'Piedāvājam iegādāties skaistu un saulainu dzīvokli Alfrēda Kalni', 'Kalniņa 2', '3', '86', '6/6', 'Renov.', '2,267 €', '195,000  €', '/msg/lv/real-estate/flats/riga/centre/fbhcm.html', '/msg/lv/real-estate/flats/riga/centre/fbhcm.html', 'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/fbhcm.html']
https://www.ss.com/msg/lv/real-estate/flats/riga/centre/fbhcm.html

In [47]:
# first 3 full ads
full_ads[:3]

[['',
  '',
  'Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas centrā. Ķieģeļu m',
  'Lienes 6A',
  '1',
  '23',
  '2/2',
  'P. kara',
  '796 €',
  '18,300  €',
  '/msg/lv/real-estate/flats/riga/centre/dgogx.html',
  '/msg/lv/real-estate/flats/riga/centre/dgogx.html'],
 ['',
  '',
  'Pārdod dzīvokli tikko pēc kvalitatīva kapitālā remonta ar logiem',
  'Stabu 86a',
  '1',
  '28',
  '1/3',
  'P. kara',
  '1,607 €',
  '45,000  €',
  '/msg/lv/real-estate/flats/riga/centre/cdijn.html',
  '/msg/lv/real-estate/flats/riga/centre/cdijn.html'],
 ['',
  '',
  'Dzīvojamā platība 160 kv. m. Projekts Park Side. \r\nGriestu augst',
  'Rūpniecības 34A',
  '4',
  '160',
  '5/6',
  'Jaun.',
  '1,997 €',
  '319,500  €',
  '/msg/lv/real-estate/flats/riga/centre/bcomkb.html',
  '/msg/lv/real-estate/flats/riga/centre/bcomkb.html']]

In [51]:
# if we have 2d list we can convert it to dataframe
df = pd.DataFrame(full_ads)
# first 3
df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,Piedāvājumā mēbelēts 1-istabas dzīvoklis Rīgas...,Lienes 6A,1,23,2/2,P. kara,796 €,"18,300 €",/msg/lv/real-estate/flats/riga/centre/dgogx.html,/msg/lv/real-estate/flats/riga/centre/dgogx.html,https://www.ss.com/msg/lv/real-estate/flats/ri...,https://www.ss.com/msg/lv/real-estate/flats/ri...
1,,,Pārdod dzīvokli tikko pēc kvalitatīva kapitālā...,Stabu 86a,1,28,1/3,P. kara,"1,607 €","45,000 €",/msg/lv/real-estate/flats/riga/centre/cdijn.html,/msg/lv/real-estate/flats/riga/centre/cdijn.html,https://www.ss.com/msg/lv/real-estate/flats/ri...,https://www.ss.com/msg/lv/real-estate/flats/ri...
2,,,Dzīvojamā platība 160 kv. m. Projekts Park Sid...,Rūpniecības 34A,4,160,5/6,Jaun.,"1,997 €","319,500 €",/msg/lv/real-estate/flats/riga/centre/bcomkb.html,/msg/lv/real-estate/flats/riga/centre/bcomkb.html,https://www.ss.com/msg/lv/real-estate/flats/ri...,https://www.ss.com/msg/lv/real-estate/flats/ri...