In [1]:
# Requests for handling HTTP get and other requests
import requests
import time # import for playing nice and not getting blocked
import pandas as pd
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup

In [ ]:
# if bs4 not found install it with
#  !pip install beatifulsoup4
# https://www.crummy.com/software/BeautifulSoup/

In [ ]:
!dir
# ar ! i can run command line commands

In [2]:
# centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
# url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"

In [3]:
req = requests.get(url) # so here we make a call to webpage via HTTP GET request and get something back
req.status_code # we could add if to check for 200

200

In [4]:
req.text[:200]

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Dzīvokļi - Rīga - Centrs, Cenas, Pārdod - Sludinājumi</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta name="viewport" c'

In [5]:
req.text.count("Stabu")  # we could parse it ourselves but why bother when we have libraries ?

2

In [6]:
req.text.index("Stabu")

15760

In [ ]:
type(req)

In [ ]:
# req.json() will not work since this page is not JSON!

In [ ]:
req.text[req.text.index("Stabu"):req.text.index("Stabu")+100] # we could do parsing by hand but usually we want to use a premade parser

In [8]:
# parser means structuring your text into some structure
soup = BeautifulSoup(req.text, 'lxml') # lxml is improved parser, a little bit more lenient
# soup = BeautifulSoup(req.text) # could use Python's built in HTML parser
soup.title

In [9]:
type(soup)

bs4.BeautifulSoup

In [10]:
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find-all
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table
tables = soup.find_all("table") # finds ALL elements matching our filter
len(tables)

7

In [11]:
# find finds just one match - first that matches
# tr table row - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Sludinājumi
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td></tr>

In [12]:
type(headline)

bs4.element.Tag

In [13]:
headline.text  # i could use split here but we can go deeper!

'\n\n\xa0Sludinājumi\r\n\n\n\ndatums\n\nIelaIst.m2StāvsSērijaCena, m2Cena'

In [14]:
headline.text.split()

['Sludinājumi', 'datums', 'IelaIst.m2StāvsSērijaCena,', 'm2Cena']

In [15]:
headtds = headline.find_all("td")  # get list of all td tags inside our headline tag only(not the whole document!)
# td stands for table data
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td 
headtds

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Sludinājumi
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td>]

In [16]:
len(headtds) # so we have 8 table data elements

8

In [ ]:
headline.text # this returns ALL text in headline and its children and grandchildren

In [17]:
headtds[0].text # we do not need the first one

'\n\xa0Sludinājumi\r\n\n\n\ndatums\n'

In [18]:
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

['Iela', 'Ist.', 'm2', 'Stāvs', 'Sērija', 'Cena, m2', 'Cena']

In [22]:
# lets combine the above cells into a function which will always get us columns
def getColList(soup, default_cols=("description","url")):
    column_list = list(default_cols) # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns  # merge both lists, could use extend
    return column_list

In [23]:
column_names = getColList(soup)
column_names # to be used later when creating our table

['description',
 'url',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [24]:
trows = soup.find_all('tr') # tr stands for table row
len(trows)

40

In [ ]:
# if i had no other choices I could find starting and end index by hand and hard code it
# but that is liable to change between pages

In [ ]:
trows[9] # we coudl do it by hand

In [ ]:
trows[5] # so could take trows[6:35] downside is that this is fixed with magic numbers

In [25]:
trows[9]["id"], trows[5].get("id") # get is safer since not all elements have ids

('tr_51562634', 'tr_51602375')

In [26]:
# hardest part in this 
# how to filter only specific rows
# we need to find something that is unique to our apartment rows but not to the extra rows
# remember we id is not guaranteed, so "" gives us default value when there is no id
apt_rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
len(apt_rows)

30

In [27]:
apt_rows[-1]

<tr id="tr_50885267"><td class="msga2 pp0"><input id="c50885267" name="mid[]" type="checkbox" value="50885267_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/egldf.html" id="im50885267"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/886/221278/44255568.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="aiVBMGwlOTZrJUFDJUQ0ZiU5RGolOUFiJUE5JThGZyU5RmglOThjJUFGJTg4ZyU5N2glOTE=|5g8a2yX" href="/msg/lv/real-estate/flats/riga/centre/egldf.html" id="dm_50885267">Продает хозяин Посольский район самый центр города Рига ресторан</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Ausekļa 5</td><td c="1" class="msga2-o pp6" nowrap="">4</td><td c="1" class="msga2-o pp6" nowrap="">150</td><td c="1" class="msga2-o pp6" nowrap="">2/6</td><td c="1" class="msga2-o pp6" nowrap="">Renov.</td><td c="1" class="msga2-o pp6" nowrap="">3,000 €</td><td c="1" class="msga2-o pp6" nowrap="">450,000  €</td></tr>

In [28]:
apt_rows[0]

<tr id="tr_51602375"><td class="msga2 pp0"><input id="c51602375" name="mid[]" type="checkbox" value="51602375_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="im51602375"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/923/230540/46107908.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTdCJTk0JUEwZyVBOSU5QSVGNiU5Q3h1JTlCJUE0bSVBNSU5QiVBQiVBMXd6JTk3JTlFayVBNCU5NSVBQQ==|Bdn6tezkB" href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="dm_51602375">Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu</a></div></td><td c="1" class="msga2-o pp6" nowrap="">J. Daliņa 8</td><td c="1" class="msga2-o pp6" nowrap="">5</td><td c="1" class="msga2-o pp6" nowrap="">200</td><td c="1" class="msga2-o pp6" nowrap="">20/24</td><td c="1" class="msga2-o pp6" nowrap="">Jaun.</td><td c="1" class="msga2-o pp6" nowrap="">3,000 €</td><td c="1" class="msga2-o pp6" nowrap="">600,000  €</td></tr>

In [29]:
# lets make a function from the above doodle and make it work on most pages on SS
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [30]:
apt_rows = getRowList(soup)
len(apt_rows)

30

In [31]:
first_ad = apt_rows[0]
first_ad

<tr id="tr_51602375"><td class="msga2 pp0"><input id="c51602375" name="mid[]" type="checkbox" value="51602375_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="im51602375"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/923/230540/46107908.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTdCJTk0JUEwZyVBOSU5QSVGNiU5Q3h1JTlCJUE0bSVBNSU5QiVBQiVBMXd6JTk3JTlFayVBNCU5NSVBQQ==|Bdn6tezkB" href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="dm_51602375">Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu</a></div></td><td c="1" class="msga2-o pp6" nowrap="">J. Daliņa 8</td><td c="1" class="msga2-o pp6" nowrap="">5</td><td c="1" class="msga2-o pp6" nowrap="">200</td><td c="1" class="msga2-o pp6" nowrap="">20/24</td><td c="1" class="msga2-o pp6" nowrap="">Jaun.</td><td c="1" class="msga2-o pp6" nowrap="">3,000 €</td><td c="1" class="msga2-o pp6" nowrap="">600,000  €</td></tr>

In [32]:
row_tds = first_ad.find_all('td') # get all table data elements from first ad/row
len(row_tds)

10

In [33]:
row_tds

[<td class="msga2 pp0"><input id="c51602375" name="mid[]" type="checkbox" value="51602375_1106_0"/></td>,
 <td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="im51602375"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/923/230540/46107908.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="JTdCJTk0JUEwZyVBOSU5QSVGNiU5Q3h1JTlCJUE0bSVBNSU5QiVBQiVBMXd6JTk3JTlFayVBNCU5NSVBQQ==|Bdn6tezkB" href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="dm_51602375">Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">J. Daliņa 8</td>,
 <td c="1" class="msga2-o pp6" nowrap="">5</td>,
 <td c="1" class="msga2-o pp6" nowrap="">200</td>,
 <td c="1" class="msga2-o pp6" nowrap="">20/24</td>,
 <td c="1" class="msga2-o pp6" nowrap="">Jaun.</td>,
 <td c="1" class="msga2-o pp6" nowrap="">3,000 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">600,000  €</td>]

In [34]:
row_tds[0].text

''

In [35]:
row_tds[1].text

''

In [36]:
row_tds[1].attrs # we can see elements attributes

{'class': ['msga2']}

In [37]:
img = row_tds[1].find("img")
img

In [ ]:
img.get("src")

In [38]:
a = row_tds[1].find('a') # a tag is called anchor tag
a

In [39]:
a.attrs

{'href': '/msg/lv/real-estate/flats/riga/centre/gbnxc.html',
 'id': 'im51602375'}

In [40]:
a.get('href'), a['href']

('/msg/lv/real-estate/flats/riga/centre/gbnxc.html',
 '/msg/lv/real-estate/flats/riga/centre/gbnxc.html')

In [41]:
prefix = "https://www.ss.com"
prefix + a.get('href')

'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/gbnxc.html'

In [42]:
row_tds[2].text # 3rd element has the description

'Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu'

In [43]:
row_tds[-1].text # last element has the price

'600,000  €'

In [44]:
column_names # we got these first

['description',
 'url',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [45]:
# from row get dictionary with values 
def getRow(row, colist=column_names):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) < 3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    
    # we start with description
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    # then url
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    # rest of columns can vary depending on type of ad
    for key,td in zip(colist[2:],row_tds[3:]): 
        rowDict[key] = td.text
    return rowDict

In [46]:
apt_rows[0] # first row of ads

<tr id="tr_51602375"><td class="msga2 pp0"><input id="c51602375" name="mid[]" type="checkbox" value="51602375_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="im51602375"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/923/230540/46107908.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTdCJTk0JUEwZyVBOSU5QSVGNiU5Q3h1JTlCJUE0bSVBNSU5QiVBQiVBMXd6JTk3JTlFayVBNCU5NSVBQQ==|Bdn6tezkB" href="/msg/lv/real-estate/flats/riga/centre/gbnxc.html" id="dm_51602375">Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu</a></div></td><td c="1" class="msga2-o pp6" nowrap="">J. Daliņa 8</td><td c="1" class="msga2-o pp6" nowrap="">5</td><td c="1" class="msga2-o pp6" nowrap="">200</td><td c="1" class="msga2-o pp6" nowrap="">20/24</td><td c="1" class="msga2-o pp6" nowrap="">Jaun.</td><td c="1" class="msga2-o pp6" nowrap="">3,000 €</td><td c="1" class="msga2-o pp6" nowrap="">600,000  €</td></tr>

In [47]:
getRow(apt_rows[0])

{'description': 'Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu',
 'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/gbnxc.html',
 'Iela': 'J. Daliņa 8',
 'Ist.': '5',
 'm2': '200',
 'Stāvs': '20/24',
 'Sērija': 'Jaun.',
 'Cena, m2': '3,000 €',
 'Cena': '600,000  €'}

In [48]:
getRow(first_ad)

{'description': 'Augstvērtīgs 5 istabu dzīvoklis ar divām autostāvvietām un vienu',
 'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/gbnxc.html',
 'Iela': 'J. Daliņa 8',
 'Ist.': '5',
 'm2': '200',
 'Stāvs': '20/24',
 'Sērija': 'Jaun.',
 'Cena, m2': '3,000 €',
 'Cena': '600,000  €'}

In [49]:
# so if we know how to work on single row then we can do process multiple rows
def getRows(rowlist, colist=column_names):
    return [getRow(row, colist=colist) for row in rowlist] # so return a list of dictionaries

In [50]:
row_ads = getRows(apt_rows)
row_ads[-3:] # last 3 ads

[{'description': 'Pārdod plašu divu istabu dzīvokli Miera ielā, blakus diviem jaun',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/ebdlk.html',
  'Iela': 'Miera 82',
  'Ist.': '2',
  'm2': '68',
  'Stāvs': '4/5',
  'Sērija': 'P. kara',
  'Cena, m2': '1,463 €',
  'Cena': '99,500  €'},
 {'description': 'Ļoti kvalitatīvs, gaišs, skaists, ar pārdomātu un ērtu plānojumu',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/bihoj.html',
  'Iela': 'Blaumaņa 9',
  'Ist.': '2',
  'm2': '53',
  'Stāvs': '5/6',
  'Sērija': 'P. kara',
  'Cena, m2': '2,774 €',
  'Cena': '147,000  €'},
 {'description': 'Продает хозяин Посольский район самый центр города Рига ресторан',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/egldf.html',
  'Iela': 'Ausekļa 5',
  'Ist.': '4',
  'm2': '150',
  'Stāvs': '2/6',
  'Sērija': 'Renov.',
  'Cena, m2': '3,000 €',
  'Cena': '450,000  €'}]

In [51]:
type(row_ads)  # list of dictionaries for each ad

list

In [ ]:
# such a list of dictionaries is easy to convert into a DataFrame in pandas

In [52]:
dtemp = pd.DataFrame(row_ads, columns=column_names)
dtemp.shape

(30, 9)

In [53]:
dtemp.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €"
1,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €"
2,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €"
3,Īpašnieks pārdod vienistabas dzīvokli 29 m2 pl...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 25,1,29,3/5,Hrušč.,"1,717 €","49,800 €"
4,Pārdošanā pilnībā mēbelētu dzīvokli pilsētas c...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tērbatas 26a,2,37,4/6,Renov.,"3,108 €","115,000 €"

In [54]:
dtemp.to_excel("rigas_rajons_jun30.xlsx")

In [55]:
# so with this function I can get full dataframe from a single page on ss.com not only apartments
def getDFfromURL(url):
    # print("getting data from", url)
    req = requests.get(url)
    if req.status_code != 200:
        print("Request Fail with", req.status_code)
        return None # maybe return empty dataframe here
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup)
    rowlist = getRowList(soup)
    rows_dict = getRows(rowlist,colist=column_names)
    return pd.DataFrame(rows_dict, columns=column_names)

In [ ]:
centrs = url
centrs

In [56]:
imanta = "https://www.ss.com/lv/real-estate/flats/riga/imanta/sell/"
idf = getDFfromURL(imanta)
idf.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Pārdošanā 3-istabu dzīvoklis ar lodžiju. Plāno...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Kurzemes pr. 134,3,60,4/5,LT proj.,"1,081 €","64,850 €"
1,Очень красивая и уютная 4 комнатная квартира в...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Anniņmuižas 43,4,137,19/24,Jaun.,"2,044 €","280,000 €"
2,Продаётся прекрасная однокомнатная квартира в ...,https://ss.com/msg/lv/real-estate/flats/riga/i...,M. Krūmu 10,1,34,4/9,602.,"1,147 €","39,000 €"
3,Gaišs un mājīgs dzīvoklis Imantā ļoti ainavisk...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Slokas 111H,3,86,4/4,Jaun.,"1,835 €","157,800 €"
4,Tiek pārdots divu istabu dzīvoklis Imantā. \r\...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Kurzemes pr. 152,2,52,5/9,602.,"1,133 €","58,900 €"

In [ ]:
df = getDFfromURL(centrs) # this will involve calling web page

In [ ]:
url

In [ ]:
df = getDFfromURL(url)
df.shape

In [ ]:
df.shape

In [ ]:
df.head()

In [57]:

# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
anchors = soup.find_all("a")
len(anchors) # anchors are popular in pages

99

In [58]:
anchors[:5]

[<a href="/" title="Sludinājumi"><img alt="Sludinājumi" border="0" class="page_header_logo" src="https://i.ss.com/img/p.gif"/></a>,
 <a class="a_menu" href="/lv/real-estate/flats/new/" title="Iesniegt Sludinājumu">Iesniegt Sludinājumu</a>,
 <a class="a_menu" href="/lv/login/" title="Mani Sludinājumi">Mani Sludinājumi</a>,
 <a class="a_menu" href="/lv/real-estate/flats/riga/centre/search/" title="Meklēt sludinājumus">Meklēšana</a>,
 <a class="a_menu" href="/lv/favorites/" title="Memo">Memo</a>]

In [59]:
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

10

In [ ]:
navs

In [60]:
navs[0]

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page23.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [61]:
navs[0].attrs

{'name': 'nav_id',
 'rel': ['prev'],
 'class': ['navi'],
 'href': '/lv/real-estate/flats/riga/centre/sell/page23.html'}

In [62]:
navs[0]['href']

'/lv/real-estate/flats/riga/centre/sell/page23.html'

In [63]:
# could use regular expression here but we can use split 
afterpage = navs[0]['href'].split("/page")[-1] # -1 might be safer than 1 in case there is region with name page
afterpage

'23.html'

In [64]:
beforedot = afterpage.split(".html")[0]
beforedot

'23'

In [65]:
lastpage = int(beforedot)
lastpage

23

In [ ]:
# so now wbe put everything we just did in a single function

In [67]:
prevanchor = soup.find('a', {"rel":"prev"})
prevanchor

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page23.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [68]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages"""
    results = [url] # default is just the url if no extra pages found, teiksim Bolderājai...
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    prevanchor = soup.find('a', {"rel":"prev"}) # find finds first match only
    if prevanchor == None: # means there is only one page of ads
        return results
    href = prevanchor.attrs.get('href')
    lastPageNum = int(href.split('/page')[-1].split('.html')[0])
    print("Last page is",lastPageNum)
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls
    return results

In [69]:
url

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [ ]:
centrs = url

In [ ]:
url

In [70]:
local_urls = getAllLocalUrls(url)
len(local_urls),local_urls[:3],local_urls[-1]

Last page is 23

(23,
 ['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html'],
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html')

In [71]:
local_urls

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html']

In [ ]:
dlast = getDFfromURL(local_urls[-1])
dlast.shape

In [ ]:
dlast

In [72]:
def get_all_ads_df(start_url, save_excel_path=None):
    df_list=[] # so we will save our dataframes in a list
    local_urls = getAllLocalUrls(start_url)
    for url in local_urls:
        print(f"Gathering data from {url}")
        df_list.append(getDFfromURL(url))
        time.sleep(0.3) # we need this to play nice! to avoid rate limit or IP ban!!
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
    big_df = pd.concat(df_list, ignore_index=True) # then make a big dataframe from all the small dataframes
    if save_excel_path:
        big_df.to_excel(save_excel_path)
    return big_df

In [73]:
centrs = url
centrs

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [74]:
centra_df = get_all_ads_df(centrs, save_excel_path="centrs_dzivokli_junijs30.xlsx")

Last page is 23
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html

In [75]:
centra_df.head(10)

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,"Pārdošanā plašs, miera pilns, pilnībā aprīkots...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Ādmiņu 5,2,58,2/3,P. kara,"1,483 €","86,000 €"
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €"
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €"
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €"
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €"
5,Īpašnieks pārdod vienistabas dzīvokli 29 m2 pl...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 25,1,29,3/5,Hrušč.,"1,717 €","49,800 €"
6,Pārdošanā pilnībā mēbelētu dzīvokli pilsētas c...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tērbatas 26a,2,37,4/6,Renov.,"3,108 €","115,000 €"
7,Pārdod plašu un mājīgu dzīvokli klusajā centrā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Dzirnavu 10,3,88,3/5,Renov.,"2,216 €","195,000 €"
8,Dzīvoklis prestižā vietā - pretī Latvijas Naci...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Raiņa bulv. 21,2,59,2/5,Renov.,"2,847 €","168,000 €"
9,"Pārdodu gaumīgi iekārtotu, mājīgu un klusu div...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 134,2,49,3/6,P. kara,"2,020 €","99,000 €"

In [ ]:
url

In [ ]:
riga_region = get_all_ads_df(url, "riga_region_sep28.xlsx")

In [ ]:
riga_region.shape

In [ ]:
riga_region.head(10)

In [ ]:
riga_region.tail(10)

In [76]:
agens = "https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/"
df = get_all_ads_df(agens, "agens_30_06.xlsx")
df.head()

Last page is 5
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page2.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page3.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page4.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page5.html

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Dzīvoklis vēsturiskā mājā ar stāvvietu un zaļo...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Tukuma 3,1,27,3/3,P. kara,"1,741 €","47,000 €"
1,"В продаже просторная, светлая, теплая, квартир...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Nometņu 57,1,37,1/2,P. kara,673 €,"24,900 €"
2,"Pārdodu plašu, gaišu, siltu dzīvokli. Privatiz...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Daugavgrīvas 55,2,48,1/2,P. kara,913 €,"43,800 €"
3,"Tiek piedāvāts dzīvoklis labā stāvoklī, bez pā...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Mērsraga 13,2,41,1/4,Hrušč.,"1,146 €","47,000 €"
4,Pārdošanā dzīvoklis unikālā projektā Filozofu ...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Raņķa d. 34,3,95,7/22,Jaun.,"2,222 €","211,100 €"

In [77]:
centra_df.shape

(668, 9)

In [78]:
df = centra_df  # alias
df.shape

(668, 9)

In [ ]:
df.shape

In [ ]:
df.columns

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  668 non-null    object
 1   url          668 non-null    object
 2   Iela         668 non-null    object
 3   Ist.         668 non-null    object
 4   m2           668 non-null    object
 5   Stāvs        668 non-null    object
 6   Sērija       668 non-null    object
 7   Cena, m2     668 non-null    object
 8   Cena         668 non-null    object
dtypes: object(9)
memory usage: 47.1+ KB

In [ ]:
df = get_all_ads_df(centrs, "centrs_27_09.xlsx")

In [ ]:
df = centra_df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [80]:
#we can do more post processing - feature engineering using existing columns
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor
0,"Pārdošanā plašs, miera pilns, pilnībā aprīkots...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Ādmiņu 5,2,58,2/3,P. kara,"1,483 €","86,000 €",2,3
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €",3,7
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €",20,24
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €",5,5
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €",3,5

In [ ]:
df = riga_region # just a shortcut

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.info()

In [81]:
df["price"] = df.Cena.str.split(' ').str[0]  # create a new column from price
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price
0,"Pārdošanā plašs, miera pilns, pilnībā aprīkots...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Ādmiņu 5,2,58,2/3,P. kara,"1,483 €","86,000 €",2,3,"86,000"
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €",3,7,"255,000"
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €",20,24,"600,000"
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €",5,5,"76,500"
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €",3,5,"127,500"

In [82]:
df.price = df.price.str.replace(",","").astype('int32') # so clean string of , and then convert to integer int64 for larger
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price
0,"Pārdošanā plašs, miera pilns, pilnībā aprīkots...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Ādmiņu 5,2,58,2/3,P. kara,"1,483 €","86,000 €",2,3,86000
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €",3,7,255000
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €",20,24,600000
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €",5,5,76500
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €",3,5,127500

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  668 non-null    object
 1   url          668 non-null    object
 2   Iela         668 non-null    object
 3   Ist.         668 non-null    object
 4   m2           668 non-null    object
 5   Stāvs        668 non-null    object
 6   Sērija       668 non-null    object
 7   Cena, m2     668 non-null    object
 8   Cena         668 non-null    object
 9   Floor        668 non-null    object
 10  MaxFloor     668 non-null    object
 11  price        668 non-null    int32
dtypes: int32(1), object(11)
memory usage: 60.1+ KB

In [84]:
df["floor"] = df.Floor.astype('int32')

In [85]:
df.m2 = df.m2.astype('int32')

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  668 non-null    object
 1   url          668 non-null    object
 2   Iela         668 non-null    object
 3   Ist.         668 non-null    object
 4   m2           668 non-null    int32
 5   Stāvs        668 non-null    object
 6   Sērija       668 non-null    object
 7   Cena, m2     668 non-null    object
 8   Cena         668 non-null    object
 9   Floor        668 non-null    object
 10  MaxFloor     668 non-null    object
 11  price        668 non-null    int32
 12  floor        668 non-null    int32
dtypes: int32(3), object(10)
memory usage: 60.1+ KB

In [87]:
df.MaxFloor = df.MaxFloor.astype('int32')
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
0,"Pārdošanā plašs, miera pilns, pilnībā aprīkots...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Ādmiņu 5,2,58,2/3,P. kara,"1,483 €","86,000 €",2,3,86000,2
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €",3,7,255000,3
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €",20,24,600000,20
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €",5,5,76500,5
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €",3,5,127500,3

In [ ]:
df.head()

In [88]:
sorted_df = df.sort_values(by="price",ascending=False)
sorted_df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
20,Ekskluzīvi Lux apartamenti Rīgas centrā ar vis...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elizabetes 3,6,218,2/5,Renov.,"8,028 €","1,750,000 €",2,5,1750000,2
283,Ekskluzīvs dzīvoklis vienā no nozīmīgākajiem a...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elizabetes 3,6,145,2/5,Renov.,"10,172 €","1,475,000 €",2,5,1475000,2
348,Piedāvājam iegādei plašu un mūsdienīgu 4-istab...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Lāčplēša 11,4,197,6/7,Jaun.,"4,076 €","802,880 €",6,7,802880,6
141,Pārdod gaišu un plašu četru istabu dzīvokli Rī...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elizabetes 12,4,181,4/5,Renov.,"4,004 €","724,800 €",4,5,724800,4
273,Pārdošanā ir ļoti plašs 4 istabu dzīvoklis ska...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Pumpura 5,4,280,2/6,Renov.,"2,500 €","700,000 €",2,6,700000,2

In [89]:
df.sort_values(by="price",ascending=True).head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
417,"Bildes vairāk what upā, katru dienu nebraucam ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,2/2,Specpr.,177 €,"11,890 €",2,2,11890,2
365,"Zemes nomas maksa 10 Eur/mēnesī, koka māja, pa...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 15,1,19,2/2,P. kara,832 €,"15,800 €",2,2,15800,2
150,Продается квартира со свежим ремонтом. \r\n\r\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 31,1,22,2/3,P. kara,805 €,"17,700 €",2,3,17700,2
340,Продается квартира со свежим ремонтом. \r\n\r\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 31,1,22,2/3,P. kara,818 €,"18,000 €",2,3,18000,2
473,Pārdod kompaktu dzīvokli Grīziņkalnā. Platība ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Vārnu 4,1,18,2/2,P. kara,"1,000 €","18,000 €",2,2,18000,2

In [ ]:
df.describe()

In [90]:
df[df.floor > 2]

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
1,"Trīsistabu dzīvoklis ar noliktavu, plašu balko...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Rūpniecības 21,3,94,3/7,Jaun.,"2,713 €","255,000 €",3,7,255000,3
2,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €",20,24,600000,20
3,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €",5,5,76500,5
4,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €",3,5,127500,3
5,Īpašnieks pārdod vienistabas dzīvokli 29 m2 pl...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 25,1,29,3/5,Hrušč.,"1,717 €","49,800 €",3,5,49800,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,Pārdod divistabu dzīvokli tuvu centram- Maskav...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Maskavas 84,2,46,4/7,P. kara,"1,520 €","69,900 €",4,7,69900,4
658,Divistabu dzīvoklis ar balkonu un vietu automa...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Stabu 15,2,56,4/5,Staļina,"2,143 €","120,000 €",4,5,120000,4
664,Pārdod siltu 2 - istabu dzīvokli lieliskā atra...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Visvalža 3b,2,49,5/5,P. kara,"1,561 €","76,500 €",5,5,76500,5
665,Autostāvvieta ēkas pagalmā. Dzīvoklis Rīgas ce...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Pērnavas 10,3,80,5/5,Staļina,"1,813 €","145,000 €",5,5,145000,5
667,Pārdodam modernu dzīvokli klusā ielā Rīgas cen...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ieroču 4,1,61,3/3,P. kara,"1,623 €","99,000 €",3,3,99000,3

In [ ]:
df.sort_values(by="MaxFloor",ascending=False).head()

In [ ]:
df.head()

In [ ]:
df.columns

In [91]:
grouped_by_street = df.groupby(by="Iela")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_street

                  count     min     max      mean
Iela
13. janvāra 21        1  195000  195000  195000.0
Alauksta 12           1   34900   34900   34900.0
Alauksta 9            2  149500  260000  204750.0
Alunāna 6             1  320000  320000  320000.0
Alūksnes 3            1  197000  197000  197000.0
...                 ...     ...     ...       ...
Ģertrūdes 78          1  105000  105000  105000.0
Ģertrūdes 9           1  565000  565000  565000.0
Ģertrūdes 91          1   25000   25000   25000.0
Ģertrūdes 99          1   55000   55000   55000.0
Ģertrūdes 99 k-2      1   45579   45579   45579.0

[435 rows x 4 columns]

In [94]:
grouped_by_series = df.groupby(by="Sērija")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_series

          count     min      max           mean
Sērija
103.          4   60900   135000  105225.000000
467.          2   67000   120000   93500.000000
Hrušč.       14   37000    88000   62374.642857
Jaun.        81   21000   802880  264379.617284
LT proj.      1   70000    70000   70000.000000
P. kara     309   15800   565000  136941.003236
Priv. m.      2  104000   188000  146000.000000
Renov.      195   39500  1750000  202631.410256
Specpr.      36   11890   279000  134016.805556
Staļina      21   27900   180000  111784.285714
Čehu pr.      3   67000   129700   98566.666667

In [95]:
grouped_by_floor = df.groupby(by="floor")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_floor

       count     min      max           mean
floor
1        119   19000   369000  104977.537815
2        168   11890  1750000  189899.696429
3        126   27500   463000  153661.119048
4         79   45579   724800  198776.822785
5         97   25000   439000  156083.938144
6         62   36000   802880  215051.387097
7          6   67000   595000  239783.333333
8          2   99000    99000   99000.000000
10         1  142300   142300  142300.000000
11         1   92000    92000   92000.000000
12         1  129700   129700  129700.000000
15         2  370000   420390  395195.000000
18         2  344000   405000  374500.000000
19         1  480000   480000  480000.000000
20         1  600000   600000  600000.000000

In [ ]:
len(grouped_by_floor)

In [ ]:
grouped_by_floor.hist(bins=len(grouped_by_floor))

In [ ]:
grouped_by_pag = df.groupby(by="Pagasts")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_pag

In [ ]:
grouped_by_pag.hist()

In [ ]:
grouped_by_pag.plot(x="Pagasts", y="mean")

In [ ]:
df.to_excel("c:/temp/my_apartments.xlsx") # i could this with absolute path

In [ ]:
from datetime import datetime as dt
now = dt.now()
now.month, now.day, now.hour, now.second

In [ ]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
url = centrs
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"
save_path

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"

df = get_all_ads_df(url, save_path)

In [ ]:
url = "https://www.ss.com/lv/transport/cars/vaz/riga_f/"
df = get_all_ads_df(url, "../data/vaz_18_03.xlsx")

# TODO 
# Try with different starting address not only centrs
## Maybe combine regions
## See how it would work with maybe cars
## Data engineering make new columns based on existing ones, clean some columns
### Changing floors 2/6 to columns 2 and 6, clean up Euro signs
## Sorting, Describing, Grouping by regions etc

In [ ]:
df = pd.read_excel("centrs_10_03.xlsx")
df.head()

In [ ]:
df.shape

In [ ]:
df["price"] = df.Cena.str.split(' ').str[0]
df.head()

In [ ]:
df.price = df.price.str.replace(",","").astype('int32') # so clean string of , and then convert to integer
df.head()

In [ ]:
df.price.hist()

In [ ]:
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.info()

In [ ]:
#typecasting example
df.Floor = df.Floor.astype('int32')
df.MaxFloor = df.MaxFloor.astype('int32')

In [ ]:
df.head()

In [ ]:
d23 = df[df.MaxFloor > 20]
d23

In [ ]:
df.describe().T # T is for transposing rows and columns

In [ ]:
df.describe().T.to_csv("center_stats.csv")

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(df, x="price", nbins=100)
fig.show()

In [ ]:
import seaborn as sns # seaborn sits on top of matplotlib with better defaults
import matplotlib.pyplot as plt

In [ ]:
df.info()

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
volvo_url = "https://www.ss.com/lv/transport/cars/volvo/sell/"
volvos = get_all_ads_df(volvo_url, "../data/volvo_03_18.xlsx")

In [ ]:
volvos = pd.read_excel("volvo_270921.xlsx")
volvos.head()

In [ ]:
volvos.shape

In [ ]:
volvos.head(10)

In [ ]:
gr_auto['Price'] =

In [ ]:
volvos["price"] = volvos.Cena.str.split(' ').str[0]
volvos.price = volvos.price.str.replace(",","").astype('int32')
volvos.head()

In [ ]:

gr_auto = volvos.groupby(["Gads","Modelis"])["price"].agg(["count", "min", "max", "mean", ])  #.head(n = 10)
gr_auto

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(0).str.contains("2015")] # how to filter multi level index

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(1).str.contains("S60")]

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(1).str.contains("S60")].to_excel("S60.xlsx")

In [ ]:
print(dt.today())

In [ ]:
suzuki_url = "https://www.ss.com/lv/transport/cars/suzuki/"
# sdf = get_all_ads_df(suzuki_url, f"suzuki_{dt.today()}.xlsx")
sdf = get_all_ads_df(suzuki_url, f"suzuki.xlsx")
sdf.head()

In [ ]:
sdf.info()

In [ ]:
sdf["Tilp."] = sdf["Tilp."].str.replace("\w","", regex=True)
sdf.head()

In [ ]:
sdf["Nobrauk."] = sdf["Nobrauk."].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf["Cena"] = sdf["Cena"].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf = sdf.dropna(how="any", axis=0)
sdf

In [ ]:
sdf = sdf[sdf["Nobrauk."].str.len() > 0] # got rid of those empty rows finally
sdf

In [ ]:
sdf["Cena"] = sdf["Cena"].astype("float32")

In [ ]:
gr_auto = sdf.groupby(["Gads","Modelis"])["Cena"].agg(["count","min", "max", "mean"]) 
gr_auto