In [1]:
# Requests for handling HTTP get and other requests
import requests
import time # import from standard library for playing nice and not getting blocked
import pandas as pd
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup

In [2]:
pd.__version__

'2.0.1'

In [ ]:
# if bs4 not found install it with
#  !pip install beatifulsoup4
# https://www.crummy.com/software/BeautifulSoup/

In [ ]:
!dir
# ar ! i can run command line commands

In [3]:
# centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
# url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"

In [4]:
req = requests.get(url) # so here we make a call to webpage via HTTP GET request and get something back
req.status_code # we could add if to check for 200

200

In [5]:
# response is just text - HTML
req.text[:200]

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Dzīvokļi - Rīga - Centrs, Cenas, Pārdod - Sludinājumi</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta name="viewport" c'

In [6]:
req.text.count("Stabu")  # we could parse it ourselves but why bother when we have libraries ?

1

In [7]:
req.text.index("Stabu")

16952

In [ ]:
type(req)

In [ ]:
# req.json() will not work since this page is not JSON!

In [8]:
req.text[req.text.index("Stabu"):req.text.index("Stabu")+100] # we could do parsing by hand but usually we want to use a premade parser

'Stabu</option><option value="5312">Strēlnieku</option><option value="5353">Tallinas</option><option '

In [9]:
req.text.index("Kluss")

20873

In [10]:
req.text[req.text.index("Kluss"):req.text.index("Kluss")+100]

'Kluss. Panorāmas skats no logiem. \r\nLaba plānojuma 5 istabu dzīv</a></div></td><td class="msga2-o pp'

In [11]:
# parser means structuring your text into some structure
soup = BeautifulSoup(req.text, 'lxml') # lxml is improved parser, a little bit more lenient
# soup = BeautifulSoup(req.text) # could use Python's built in HTML parser
soup.title

In [13]:
type(soup)

bs4.BeautifulSoup

In [14]:
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find-all
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table
tables = soup.find_all("table") # finds ALL elements matching our filter
len(tables)

6

In [15]:
# find finds just one match - first that matches
# tr table row - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Sludinājumi
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td></tr>

In [16]:
type(headline)

bs4.element.Tag

In [17]:
headline.text  # i could use split here but we can go deeper!

'\n\n\xa0Sludinājumi\r\n\n\n\ndatums\n\nIelaIst.m2StāvsSērijaCena, m2Cena'

In [18]:
headline.text.split()

['Sludinājumi', 'datums', 'IelaIst.m2StāvsSērijaCena,', 'm2Cena']

In [19]:
headtds = headline.find_all("td")  # get list of all td tags inside our headline tag only(not the whole document!)
# td stands for table data
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td 
headtds

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Sludinājumi
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td>]

In [20]:
len(headtds) # so we have 8 table data elements

8

In [ ]:
headline.text # this returns ALL text in headline and its children and grandchildren

In [21]:
headtds[0].text # we do not need the first one

'\n\xa0Sludinājumi\r\n\n\n\ndatums\n'

In [22]:
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

['Iela', 'Ist.', 'm2', 'Stāvs', 'Sērija', 'Cena, m2', 'Cena']

In [23]:
# lets combine the above cells into a function which will always get us columns
def getColList(soup, default_cols=("description","url")):
    column_list = list(default_cols) # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns  # merge both lists, could use extend
    return column_list

In [24]:
column_names = getColList(soup)
column_names # to be used later when creating our table

['description',
 'url',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [25]:
trows = soup.find_all('tr') # tr stands for table row
len(trows)

39

In [ ]:
# if i had no other choices I could find starting and end index by hand and hard code it
# but that is liable to change between pages

In [26]:
trows[9] # we coudl do it by hand

<tr id="tr_52066253"><td class="msga2 pp0"><input id="c52066253" name="mid[]" type="checkbox" value="52066253_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/bhdmp.html" id="im52066253"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1074/268461/53692041.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="eSU4QSU4RCU5OCU5QSU4MyVEMWolQTR6JTg5JThBJTlEJTlCJTgzJTg3bCVBNSU3RiU4QSU4OSU5OCU5NiU3QiU4NQ==|GYYffKU9n" href="/msg/lv/real-estate/flats/riga/centre/bhdmp.html" id="dm_52066253">Pasteidzies. 80% dzīvokļu jau izpārdoti.

Pārdodam dzīvokļus </a></div></td><td c="1" class="msga2-o pp6" nowrap="">Brīvības 95</td><td c="1" class="msga2-o pp6" nowrap="">4</td><td c="1" class="msga2-o pp6" nowrap="">86</td><td c="1" class="msga2-o pp6" nowrap="">5/7</td><td c="1" class="msga2-o pp6" nowrap="">Renov.</td><td c="1" class="msga2-o pp6" nowrap="">2,198 €</td><td c="1" class="msga2-o pp6" nowrap="">189,000  €</td></tr>

In [ ]:
trows[5] # so could take trows[6:35] downside is that this is fixed with magic numbers

In [27]:
trows[9]["id"], trows[5].get("id") # get is safer since not all elements have ids

('tr_52066253', 'tr_52709345')

In [28]:
# hardest part in this 
# how to filter only specific rows
# we need to find something that is unique to our apartment rows but not to the extra rows
# remember we id is not guaranteed, so "" gives us default value when there is no id
apt_rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
len(apt_rows)

30

In [29]:
apt_rows[-1] # last ad

<tr id="tr_53200772"><td class="msga2 pp0"><input id="c53200772" name="mid[]" type="checkbox" value="53200772_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/aekcp.html" id="im53200772"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1002/250349/50069772.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="eGljJTkyJThCJTlBJUFGJTkzJThGJTlFJTdEamolOTUlOEElOTVnJTkyJThEJUE0dmpiJTkxJTg4|F52aXb3bYk" href="/msg/lv/real-estate/flats/riga/centre/aekcp.html" id="dm_53200772">Jauns Jūgendstila 3 guļamistabu pilnas apdares dzīvoklis ar 3 va</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Ausekļa 14</td><td c="1" class="msga2-o pp6" nowrap="">4</td><td c="1" class="msga2-o pp6" nowrap="">154</td><td c="1" class="msga2-o pp6" nowrap="">5/6</td><td c="1" class="msga2-o pp6" nowrap="">Renov.</td><td c="1" class="msga2-o pp6" nowrap="">3,506 €</td><td c="1" class="msga2-o pp6" nowrap="">540,000  €</td></tr>

In [30]:
apt_rows[0] # first ad

<tr id="tr_52709345"><td class="msga2 pp0"><input id="c52709345" name="mid[]" type="checkbox" value="52709345_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="im52709345"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1033/258153/51630566.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JUE1eiVBNSU4NiU4OSU5OCU5QyVDQSVBNXolQTYlODklODQlOTUlOUUlN0UlQTglN0IlQTElOEElODYlOTElOUMlN0UlQTR1|tEmRRahN" href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="dm_52709345"> Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais.
Daļa m</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Katrīnas d. 22</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">66</td><td c="1" class="msga2-o pp6" nowrap="">1/4</td><td c="1" class="msga2-o pp6" nowrap="">Specpr.</td><td c="1" class="msga2-o pp6" nowrap="">1,423 €</td><td c="1" class="msga2-o pp6" nowrap="">93,900  €</td></tr>

In [31]:
# lets make a function from the above doodle and make it work on most pages on SS
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [32]:
apt_rows = getRowList(soup)
len(apt_rows)

30

In [33]:
first_ad = apt_rows[0]
first_ad

<tr id="tr_52709345"><td class="msga2 pp0"><input id="c52709345" name="mid[]" type="checkbox" value="52709345_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="im52709345"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1033/258153/51630566.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JUE1eiVBNSU4NiU4OSU5OCU5QyVDQSVBNXolQTYlODklODQlOTUlOUUlN0UlQTglN0IlQTElOEElODYlOTElOUMlN0UlQTR1|tEmRRahN" href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="dm_52709345"> Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais.
Daļa m</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Katrīnas d. 22</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">66</td><td c="1" class="msga2-o pp6" nowrap="">1/4</td><td c="1" class="msga2-o pp6" nowrap="">Specpr.</td><td c="1" class="msga2-o pp6" nowrap="">1,423 €</td><td c="1" class="msga2-o pp6" nowrap="">93,900  €</td></tr>

In [34]:
row_tds = first_ad.find_all('td') # get all table data elements from first ad/row
len(row_tds)

10

In [35]:
# look at all the data we have
row_tds

[<td class="msga2 pp0"><input id="c52709345" name="mid[]" type="checkbox" value="52709345_1106_0"/></td>,
 <td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="im52709345"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1033/258153/51630566.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="JUE1eiVBNSU4NiU4OSU5OCU5QyVDQSVBNXolQTYlODklODQlOTUlOUUlN0UlQTglN0IlQTElOEElODYlOTElOUMlN0UlQTR1|tEmRRahN" href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="dm_52709345"> Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais.
 Daļa m</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">Katrīnas d. 22</td>,
 <td c="1" class="msga2-o pp6" nowrap="">3</td>,
 <td c="1" class="msga2-o pp6" nowrap="">66</td>,
 <td c="1" class="msga2-o pp6" nowrap="">1/4</td>,
 <td c="1" class="msga2-o pp6" nowrap="">Specpr.</td>,
 <td c="1" class="msga2-o pp6" nowrap="">1,423 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">93,900  €</td>]

In [36]:
row_tds[0].text

''

In [38]:
row_tds[1].text

''

In [39]:
row_tds[1].attrs # we can see elements attributes

{'class': ['msga2']}

In [41]:
# we can find elements inside our element
img = row_tds[1].find("img") # first img element inside our td element
img

In [42]:
img.get("src")

'https://i.ss.com/gallery/6/1033/258153/51630566.th2.jpg'

In [43]:
a = row_tds[1].find('a') # a tag is called anchor tag
a

In [44]:
a.attrs

{'href': '/msg/lv/real-estate/flats/riga/centre/ecikp.html',
 'id': 'im52709345'}

In [45]:
a.get('href'), a['href']

('/msg/lv/real-estate/flats/riga/centre/ecikp.html',
 '/msg/lv/real-estate/flats/riga/centre/ecikp.html')

In [46]:
prefix = "https://www.ss.com"
prefix + a.get('href')

'https://www.ss.com/msg/lv/real-estate/flats/riga/centre/ecikp.html'

In [47]:
row_tds[2].text # 3rd element has the description

'\xa0Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais. \r\nDaļa m'

In [48]:
row_tds[-1].text # last element has the price

'93,900  €'

In [49]:
column_names # we got these first

['description',
 'url',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [50]:
# from row get dictionary with values 
def getRow(row, colist=column_names):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) < 3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    
    # we start with description
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    # then url
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    # rest of columns can vary depending on type of ad
    for key,td in zip(colist[2:],row_tds[3:]): 
        rowDict[key] = td.text
    return rowDict

In [51]:
apt_rows[0] # first row of ads

<tr id="tr_52709345"><td class="msga2 pp0"><input id="c52709345" name="mid[]" type="checkbox" value="52709345_1106_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="im52709345"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/6/1033/258153/51630566.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JUE1eiVBNSU4NiU4OSU5OCU5QyVDQSVBNXolQTYlODklODQlOTUlOUUlN0UlQTglN0IlQTElOEElODYlOTElOUMlN0UlQTR1|tEmRRahN" href="/msg/lv/real-estate/flats/riga/centre/ecikp.html" id="dm_52709345"> Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais.
Daļa m</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Katrīnas d. 22</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">66</td><td c="1" class="msga2-o pp6" nowrap="">1/4</td><td c="1" class="msga2-o pp6" nowrap="">Specpr.</td><td c="1" class="msga2-o pp6" nowrap="">1,423 €</td><td c="1" class="msga2-o pp6" nowrap="">93,900  €</td></tr>

In [52]:
getRow(apt_rows[0])

{'description': '\xa0Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais. \r\nDaļa m',
 'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/ecikp.html',
 'Iela': 'Katrīnas d. 22',
 'Ist.': '3',
 'm2': '66',
 'Stāvs': '1/4',
 'Sērija': 'Specpr.',
 'Cena, m2': '1,423 €',
 'Cena': '93,900  €'}

In [53]:
getRow(first_ad)

{'description': '\xa0Tikko pēc kapitāla remonta. Augstais stāvs, kā otrais. \r\nDaļa m',
 'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/ecikp.html',
 'Iela': 'Katrīnas d. 22',
 'Ist.': '3',
 'm2': '66',
 'Stāvs': '1/4',
 'Sērija': 'Specpr.',
 'Cena, m2': '1,423 €',
 'Cena': '93,900  €'}

In [55]:
# so if we know how to work on single row then we can do process multiple rows
def getRows(rowlist, colist=column_names):
    return [getRow(row, colist=colist) for row in rowlist] # so return a list of dictionaries

In [56]:
row_ads = getRows(apt_rows)
row_ads[-3:] # last 3 ads

[{'description': 'Pārdošanā 4-istabu dzīvoklis, ko iespējams sadalīt divos dzīvokļ',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/fexeo.html',
  'Iela': 'Brīvības 150',
  'Ist.': '4',
  'm2': '104',
  'Stāvs': '3/6',
  'Sērija': 'P. kara',
  'Cena, m2': '1,240 €',
  'Cena': '129,000  €'},
 {'description': 'Silts, saulains dzīvoklis centrā, svaigi remontēts ar pilnībā ap',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/ebjkm.html',
  'Iela': 'Ģertrūdes 100',
  'Ist.': '2',
  'm2': '42',
  'Stāvs': '2/5',
  'Sērija': 'P. kara',
  'Cena, m2': '2,119 €',
  'Cena': '89,000  €'},
 {'description': 'Jauns Jūgendstila 3 guļamistabu pilnas apdares dzīvoklis ar 3 va',
  'url': 'https://ss.com/msg/lv/real-estate/flats/riga/centre/aekcp.html',
  'Iela': 'Ausekļa 14',
  'Ist.': '4',
  'm2': '154',
  'Stāvs': '5/6',
  'Sērija': 'Renov.',
  'Cena, m2': '3,506 €',
  'Cena': '540,000  €'}]

In [57]:
type(row_ads), len(row_ads) # list of dictionaries for each ad

(list, 30)

In [ ]:
# such a list of dictionaries is easy to convert into a DataFrame in pandas

In [58]:
# i am converting my list of dictionaries into a DataFrame
dtemp = pd.DataFrame(row_ads, columns=column_names)
dtemp.shape

(30, 9)

In [59]:
dtemp.head() # first 5 rows

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €"
1,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €"
2,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €"
3,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €"
4,Pasteidzies. 80% dzīvokļu jau izpārdoti. \r\n\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 95,4,86,5/7,Renov.,"2,198 €","189,000 €"

In [60]:
dtemp.to_excel("rigas_rajons_may11.xlsx")

In [61]:
# so with this function I can get full dataframe from a single page on ss.com not only apartments
def getDFfromURL(url):
    # print("getting data from", url)
    req = requests.get(url) # here we make a request to a server
    if req.status_code != 200:
        print("Request Fail with", req.status_code)
        return None # maybe return empty dataframe here
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup)
    rowlist = getRowList(soup)
    rows_dict = getRows(rowlist,colist=column_names)
    return pd.DataFrame(rows_dict, columns=column_names)

In [62]:
centrs = url
centrs

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [63]:
imanta = "https://www.ss.com/lv/real-estate/flats/riga/imanta/sell/"
idf = getDFfromURL(imanta)
idf.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,"Pārdošanā 3 istabu dzīvoklis Imantā, jaunajā l...",https://ss.com/msg/lv/real-estate/flats/riga/i...,M. Krūmu 1,3,68,3/5,LT proj.,"1,015 €","69,000 €"
1,Pārdodu dzīvokli Imantā. Dzīvoklis atrodas māj...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Dubultu 18,3,62,4/9,602.,"1,000 €","62,000 €"
2,Saulains dzīvoklis lieliskā lokācijā. \r\n\r\n...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Jūrmalas g. 91,2,51,2/5,LT proj.,902 €,"46,000 €"
3,"Красивая 2-х этажная квартира с удобной , прод...",https://ss.com/msg/lv/real-estate/flats/riga/i...,Anniņmuižas 13,5,183,11/12,Jaun.,"1,639 €","299,900 €"
4,Продаём очень светлую квартиру(окна на три сто...,https://ss.com/msg/lv/real-estate/flats/riga/i...,Kurzemes pr. 164,3,62,4/9,602.,895 €,"55,500 €"

In [64]:
df = getDFfromURL(centrs) # this will involve calling web page

In [65]:
url

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [ ]:
df = getDFfromURL(url)
df.shape

In [66]:
df.shape

(30, 9)

In [67]:
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €"
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €"
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €"
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €"
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €"

In [68]:
# anchors are our friends - the basic building blocks of HTML - linking to other pages
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
anchors = soup.find_all("a")
len(anchors) # anchors are popular in pages

99

In [69]:
anchors[:5]

[<a href="/lv/" title="Sludinājumi"><img alt="Sludinājumi" border="0" class="page_header_logo" src="https://i.ss.com/img/p.gif"/></a>,
 <a class="a_menu" href="/lv/real-estate/flats/new/" title="Iesniegt Sludinājumu">Iesniegt Sludinājumu</a>,
 <a class="a_menu" href="/lv/login/" title="Mani Sludinājumi">Mani Sludinājumi</a>,
 <a class="a_menu" href="/lv/real-estate/flats/riga/centre/search/" title="Meklēt sludinājumus">Meklēšana</a>,
 <a class="a_menu" href="/lv/favorites/" title="Memo">Memo</a>]

In [70]:
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

10

In [ ]:
navs

In [71]:
navs[0]

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page27.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [72]:
navs[0].attrs

{'name': 'nav_id',
 'rel': ['prev'],
 'class': ['navi'],
 'href': '/lv/real-estate/flats/riga/centre/sell/page27.html'}

In [73]:
navs[0]['href']

'/lv/real-estate/flats/riga/centre/sell/page27.html'

In [74]:
# could use regular expression here but we can use split 
afterpage = navs[0]['href'].split("/page")[-1] # -1 might be safer than 1 in case there is region with name page
afterpage

'27.html'

In [75]:
beforedot = afterpage.split(".html")[0]
beforedot

'27'

In [76]:
# finally we need to convert string to integer
lastpage = int(beforedot)
lastpage

27

In [ ]:
# so now wbe put everything we just did in a single function

In [77]:
# instead of getting first element from list we can use find
prevanchor = soup.find('a', {"rel":"prev"})
prevanchor

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page27.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [78]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages"""
    results = [url] # default is just the url if no extra pages found, teiksim Bolderājai...
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    prevanchor = soup.find('a', {"rel":"prev"}) # find finds first match only
    if prevanchor == None: # means there is only one page of ads
        return results
    href = prevanchor.attrs.get('href')
    # so split by /page and then take last element and split by .html and take first element
    # finally convert to integer
    lastPageNum = int(href.split('/page')[-1].split('.html')[0])
    print("Last page is",lastPageNum)
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls # add new urls to our list
    return results

In [79]:
url

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [80]:
centrs = url # alias

In [ ]:
url

In [81]:
local_urls = getAllLocalUrls(url)
len(local_urls),local_urls[:3],local_urls[-1]

Last page is 27

(27,
 ['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html'],
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page27.html')

In [71]:
local_urls

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html']

In [82]:
dlast = getDFfromURL(local_urls[-1])
dlast.shape

(30, 9)

In [83]:
dlast

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Miera ielas šarms. \r\nĒka Miera ielā 5 ir jūg...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 5,3,73,2/6,P. kara,"2,322 €","169,500 €"
1,Pārdodam 5 istabu dzīvokli Rīgas centrā. Mājā ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 39A,5,118,2/6,P. kara,"2,271 €","268,000 €"
2,Piedāvājam iegādāties labiekārtotu 3 istabu dz...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Republikas laukums..,3,104,4/7,Jaun.,"3,173 €","330,000 €"
3,Pārdod plašu dzīvokli vienā no skaistākajām Rī...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Barona 3,6,176,4/5,P. kara,"1,841 €","324,000 €"
4,"Piedāvājam iegādāties studio dzīvokli, logi vē...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Marijas 14a,1,18,3/6,Renov.,"2,670 €","48,060 €"
5,Pārdodu saulainu 2-istabu dzīvokli Centrā. \r\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Vesetas 32,2,47,10/12,Čehu pr.,"1,489 €","70,000 €"
6,"Pārdodam dzīvokļus Kr. Valdemāra ielā 72, kas ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 72,4,91,4/4,P. kara,"1,516 €","138,000 €"
7,Silts 1-istabu dzīvoklis 5 min no Rīgas paša c...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Pētersalas 17,1,30,2/2,P. kara,599 €,"17,980 €"
8,Kā mājas daļa. Pagalma māja. Mājas pirmā stāva...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Maskavas 108,3,57,1/2,Priv. m.,468 €,"26,680 €"
9,"Investīciju objekts , var piepirkt, klāt otro ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Maskavas 108,Citi,400,1/3,Priv. m.,217 €,"86,900 €"
10,Dzīvokļi kapitāli renovētā projektā - gaišs un...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Sadovņikova 21,4,92,4/4,Renov.,"1,413 €","130,000 €"
11,"Dzīvoklis atrodas pagalma mājas daļā, no kura ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Lāčplēša 43/45,3,54,3/5,P. kara,"1,519 €","82,000 €"
12,Pārdodas 3 istabu dzīvoklis centrā ( 2 istabas...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Barona 60,3,59,2/3,P. kara,"1,949 €","115,000 €"
13,"Dzīvoklis atbrīvots, bez apgrūtinājumiem. \r\n...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22c,2,49,1/3,Staļina,815 €,"39,950 €"
14,"Tiek pārdots ekskluzīvs, gaišs un saulains dzī...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Stabu 19,4,215,2/7,Renov.,"1,372 €","295,000 €"
15,"Piedāvājumā kompakts, bet funkcionāls un ērts ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Bruņinieku 93,3,59,2/2,Renov.,"2,542 €","150,000 €"
16,"Dzīvojamā ēka Kazarmu ielā 7, Rīgā celta pēc H...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Kazarmu 7,5,137,3/4,P. kara,"2,300 €","315,100 €"
17,Dzīvoklis vienā no prestižākajām Rīgas pilsēta...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Vīlandes 7,5,155,5/5,Renov.,"2,419 €","375,000 €"
18,"Квартира студио типа 28.6 м2 в каменном доме, ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Piena 2,1,29,1/4,Renov.,"1,923 €","55,770 €"
19,Īpašnieks pārdod kompaktu 1 istabas dzīvokli J...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ganību d. 13,1,21,4/6,Jaun.,"1,419 €","29,800 €"
20,Īpašnieks pārdod pilnīgi renovētu dzīvokli. Dz...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Barona 80,2,45,1/5,P. kara,"1,622 €","73,000 €"
21,Jauns 4-istabu dzīvoklis renovētā projektā Rīg...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Pļavas 4,4,74,3/3,Renov.,"2,303 €","170,430 €"
22,Jauks dzīvoklis ar četrām izolētam istabām\r\n...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Birznieka-Upīša 13,4,97,2/7,Jaun.,"3,093 €","300,000 €"
23,Дом обслуживает Dzīks Dīķi. \r\nПоменяны: крыш...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zirņu 6,2,42,6/6,Hrušč.,"1,167 €","49,000 €"
24,Pārdod dzīvokli ar labu investīciju potenciālu...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ģertrūdes 37,2,37,5/6,P. kara,784 €,"29,000 €"
25,Dzīvoklis atrodas klusā Rīgas centra nostūrī. ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ieroču 6,3,52,1/2,P. kara,500 €,"26,000 €"
26,Tiek pārdots trīsistabu dzīvoklis centrā. Visa...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Birznieka-Upīša 29,3,77,2/5,Renov.,"1,688 €","130,000 €"
27,Plašs dzīvoklis pašā Rīgas centrā gaida jaunu ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elijas 5,5,109,4/5,P. kara,"1,239 €","135,000 €"
28,Pārdod 2 istabas un virtuvi (pēc Zemesgrāmatas...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Krāsotāju 15,2,35,2/2,P. kara,600 €,"21,000 €"
29,"Pārdodu ļoti mājīgu, siltu, pilnībā mēbelētu 2...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Miera 93,2,45,2/7,Jaun.,"2,667 €","120,000 €"

In [84]:
def get_all_ads_df(start_url, save_excel_path=None):
    df_list=[] # so we will save our dataframes in a list
    local_urls = getAllLocalUrls(start_url)
    for url in local_urls:
        print(f"Gathering data from {url}")
        df_list.append(getDFfromURL(url))
        time.sleep(0.3) # we need this to play nice! to avoid rate limit or IP ban!!
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
    big_df = pd.concat(df_list, ignore_index=True) # then make a big dataframe from all the small dataframes
    if save_excel_path:
        print(f"Saving to {save_excel_path}")
        big_df.to_excel(save_excel_path)
    return big_df

In [85]:
centrs = url
centrs

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [86]:
centra_df = get_all_ads_df(centrs, save_excel_path="centrs_dzivokli_may11.xlsx")

Last page is 27
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page26.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page27.html
Saving to centrs_dzivokli_may11.xlsx

In [87]:
centra_df.head(10)

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €"
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €"
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €"
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €"
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €"
5,Pasteidzies. 80% dzīvokļu jau izpārdoti. \r\n\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 95,4,86,5/7,Renov.,"2,198 €","189,000 €"
6,Piedāvājumā 3 istabu dzīvoklis 4.stāvā ar skat...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 95,3,86,4/7,Renov.,"2,198 €","189,000 €"
7,Projekta Parker's attīstītājs pārdod dzīvokli ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 41A,4,320,7/7,Jaun.,"2,022 €","647,000 €"
8,Samazināta cena līdz 1.maijam\r\n\r\nJauns pro...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Matīsa 63,2,43,3/7,Renov.,"2,207 €","94,905 €"
9,Īpašnieks piedāvā iegādāties skaistu un gaišu ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Marijas 23,4,116,2/6,P. kara,"1,681 €","195,000 €"

In [ ]:
url

In [ ]:
riga_region = get_all_ads_df(url, "riga_region_sep28.xlsx")

In [ ]:
riga_region.shape

In [ ]:
riga_region.head(10)

In [ ]:
riga_region.tail(10)

In [76]:
agens = "https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/"
df = get_all_ads_df(agens, "agens_30_06.xlsx")
df.head()

Last page is 5
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page2.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page3.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page4.html
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/page5.html

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Dzīvoklis vēsturiskā mājā ar stāvvietu un zaļo...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Tukuma 3,1,27,3/3,P. kara,"1,741 €","47,000 €"
1,"В продаже просторная, светлая, теплая, квартир...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Nometņu 57,1,37,1/2,P. kara,673 €,"24,900 €"
2,"Pārdodu plašu, gaišu, siltu dzīvokli. Privatiz...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Daugavgrīvas 55,2,48,1/2,P. kara,913 €,"43,800 €"
3,"Tiek piedāvāts dzīvoklis labā stāvoklī, bez pā...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Mērsraga 13,2,41,1/4,Hrušč.,"1,146 €","47,000 €"
4,Pārdošanā dzīvoklis unikālā projektā Filozofu ...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Raņķa d. 34,3,95,7/22,Jaun.,"2,222 €","211,100 €"

In [88]:
centra_df.shape

(810, 9)

In [89]:
df = centra_df  # alias it is common to use df as a variable name for a dataframe
df.shape

(810, 9)

In [ ]:
df.shape

In [ ]:
df.columns

In [90]:
# we can get basic info about our dataframe
df.info()
# objects mean strings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  810 non-null    object
 1   url          810 non-null    object
 2   Iela         810 non-null    object
 3   Ist.         810 non-null    object
 4   m2           810 non-null    object
 5   Stāvs        810 non-null    object
 6   Sērija       810 non-null    object
 7   Cena, m2     810 non-null    object
 8   Cena         810 non-null    object
dtypes: object(9)
memory usage: 57.1+ KB

In [ ]:
df = get_all_ads_df(centrs, "centrs_27_09.xlsx")

In [ ]:
df = centra_df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [91]:
#we can do more post processing - feature engineering using existing columns
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €",6,6
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €",1,4
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €",6,7
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €",1,6
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €",4,5

In [ ]:
df = riga_region # just a shortcut

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.info()

In [92]:
df["price"] = df.Cena.str.split(' ').str[0]  # create a new column from price
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €",6,6,"165,000"
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €",1,4,"93,900"
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €",6,7,"272,000"
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €",1,6,"9,580"
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €",4,5,"139,500"

In [93]:
df.price = df.price.str.replace(",","").astype('int32') # so clean string of , and then convert to integer int64 for larger
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €",6,6,165000
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €",1,4,93900
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €",6,7,272000
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €",1,6,9580
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €",4,5,139500

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  810 non-null    object
 1   url          810 non-null    object
 2   Iela         810 non-null    object
 3   Ist.         810 non-null    object
 4   m2           810 non-null    object
 5   Stāvs        810 non-null    object
 6   Sērija       810 non-null    object
 7   Cena, m2     810 non-null    object
 8   Cena         810 non-null    object
 9   Floor        810 non-null    object
 10  MaxFloor     810 non-null    object
 11  price        810 non-null    int32
dtypes: int32(1), object(11)
memory usage: 72.9+ KB

In [95]:
# convert to integer
# we will createa a new column called floor - column names are case sensitive
df["floor"] = df.Floor.astype('int32')
# in Pandas we can use df.column_name or df["column_name"]
# df["column_name"] is more flexible as we can use variables 
# also df.column_name will not work if column name has spaces or special characters
# also df.column_name will not work if column name is a number
# finally df.column_name will not work if column name is a reserved word in Python or in Pandas

In [96]:
df.m2 = df.m2.astype('int32')

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  810 non-null    object
 1   url          810 non-null    object
 2   Iela         810 non-null    object
 3   Ist.         810 non-null    object
 4   m2           810 non-null    int32
 5   Stāvs        810 non-null    object
 6   Sērija       810 non-null    object
 7   Cena, m2     810 non-null    object
 8   Cena         810 non-null    object
 9   Floor        810 non-null    object
 10  MaxFloor     810 non-null    object
 11  price        810 non-null    int32
 12  floor        810 non-null    int32
dtypes: int32(3), object(10)
memory usage: 72.9+ KB

In [98]:
df.MaxFloor = df.MaxFloor.astype('int32')
df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €",6,6,165000,6
1,"Tikko pēc kapitāla remonta. Augstais stāvs, k...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Katrīnas d. 22,3,66,1/4,Specpr.,"1,423 €","93,900 €",1,4,93900,1
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €",6,7,272000,6
3,Vairāki pakāpieni uz leju. \r\nDaļa maksas var...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,1/6,Specpr.,143 €,"9,580 €",1,6,9580,1
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €",4,5,139500,4

In [ ]:
df.head()

In [99]:
# I can sort by column name
sorted_df = df.sort_values(by="price",ascending=False)
sorted_df.head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
730,Pārdod mūsdienīgas 1791 kv. m. plašas biroja t...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Dzirnavu 37,Citi,1791,3/7,Jaun.,"1,383 €","2,476,650 €",3,7,2476650,3
451,Visaugstākajām prasībām atbilstošs dzīvoklis v...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Lāčplēša 11,4,279,7/7,Jaun.,"6,989 €","1,950,000 €",7,7,1950000,7
321,Ekskluzīvs dzīvoklis vienā no nozīmīgākajiem a...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elizabetes 3,6,145,2/5,Renov.,"10,172 €","1,475,000 €",2,5,1475000,2
407,Pārdod unikālu dzīvokli- penthausu ar iespējam...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,410,23/24,Jaun.,"3,171 €","1,300,000 €",23,24,1300000,23
198,Rīgas klusajā Jūgendstila arhitektūras pērļu c...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elizabetes 31a,6,213,5/5,P. kara,"3,282 €","699,000 €",5,5,699000,5

In [89]:
df.sort_values(by="price",ascending=True).head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
417,"Bildes vairāk what upā, katru dienu nebraucam ...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Duntes 26,3,67,2/2,Specpr.,177 €,"11,890 €",2,2,11890,2
365,"Zemes nomas maksa 10 Eur/mēnesī, koka māja, pa...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 15,1,19,2/2,P. kara,832 €,"15,800 €",2,2,15800,2
150,Продается квартира со свежим ремонтом. \r\n\r\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 31,1,22,2/3,P. kara,805 €,"17,700 €",2,3,17700,2
340,Продается квартира со свежим ремонтом. \r\n\r\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zvaigžņu 31,1,22,2/3,P. kara,818 €,"18,000 €",2,3,18000,2
473,Pārdod kompaktu dzīvokli Grīziņkalnā. Platība ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Vārnu 4,1,18,2/2,P. kara,"1,000 €","18,000 €",2,2,18000,2

In [100]:
df.describe() # describe will give us basic statistics for all numeric columns

                m2    MaxFloor         price       floor
count   810.000000  810.000000  8.100000e+02  810.000000
mean     79.774074    5.404938  1.607078e+05    3.196296
std      79.729655    2.270676  1.636467e+05    2.149479
min      15.000000    1.000000  9.580000e+03    1.000000
25%      46.000000    5.000000  7.957500e+04    2.000000
50%      62.000000    5.000000  1.240000e+05    3.000000
75%      96.000000    6.000000  1.900000e+05    4.000000
max    1791.000000   24.000000  2.476650e+06   23.000000

In [101]:
# i can filter by column value
# so here we will get all rows where floor is greater than 2
df[df.floor > 2]

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
0,Dzīvoklis tikko pēc remonta. \r\nDzīvojamā ist...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Valdemāra 73,3,66,6/6,P. kara,"2,500 €","165,000 €",6,6,165000,6
2,Kluss. Panorāmas skats no logiem. \r\nLaba plā...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Teātra 12,5,136,6/7,P. kara,"2,000 €","272,000 €",6,7,272000,6
4,Pārdodam dzīvokļus ēkā ar vēstures garšu. Reno...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Tomsona 33,3,64,4/5,Renov.,"2,180 €","139,500 €",4,5,139500,4
5,Pasteidzies. 80% dzīvokļu jau izpārdoti. \r\n\...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 95,4,86,5/7,Renov.,"2,198 €","189,000 €",5,7,189000,5
6,Piedāvājumā 3 istabu dzīvoklis 4.stāvā ar skat...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Brīvības 95,3,86,4/7,Renov.,"2,198 €","189,000 €",4,7,189000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,Īpašnieks pārdod kompaktu 1 istabas dzīvokli J...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ganību d. 13,1,21,4/6,Jaun.,"1,419 €","29,800 €",4,6,29800,4
801,Jauns 4-istabu dzīvoklis renovētā projektā Rīg...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Pļavas 4,4,74,3/3,Renov.,"2,303 €","170,430 €",3,3,170430,3
803,Дом обслуживает Dzīks Dīķi. \r\nПоменяны: крыш...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Zirņu 6,2,42,6/6,Hrušč.,"1,167 €","49,000 €",6,6,49000,6
804,Pārdod dzīvokli ar labu investīciju potenciālu...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Ģertrūdes 37,2,37,5/6,P. kara,784 €,"29,000 €",5,6,29000,5
807,Plašs dzīvoklis pašā Rīgas centrā gaida jaunu ...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Elijas 5,5,109,4/5,P. kara,"1,239 €","135,000 €",4,5,135000,4

In [102]:
df.sort_values(by="MaxFloor",ascending=False).head()

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Floor,MaxFloor,price,floor
407,Pārdod unikālu dzīvokli- penthausu ar iespējam...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,410,23/24,Jaun.,"3,171 €","1,300,000 €",23,24,1300000,23
138,"Dzīvojamais projekts, kurā vienkopus mājas ērt...",https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,3,108,11/24,Jaun.,"2,546 €","275,000 €",11,24,275000,11
632,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,https://ss.com/msg/lv/real-estate/flats/riga/c...,J. Daliņa 8,5,200,20/24,Jaun.,"2,875 €","575,000 €",20,24,575000,20
582,Ideāls dzīvoklis topošam Rīgas studentam vai v...,https://ss.com/msg/lv/real-estate/flats/riga/c...,Skanstes 29,1,54,4/24,Jaun.,"2,315 €","125,000 €",4,24,125000,4
588,"Продаётся двухкомнатная квартира (70м2, см. пл...",https://ss.com/msg/lv/real-estate/flats/riga/c...,Skanstes 29,2,70,11/24,Jaun.,"2,143 €","150,000 €",11,24,150000,11

In [ ]:
df.head()

In [ ]:
df.columns

In [103]:
grouped_by_street = df.groupby(by="Iela")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_street

                      count     min     max      mean
Iela
11. novembra krast..      1  127000  127000  127000.0
Akas 2                    1   95000   95000   95000.0
Akas 8                    1  260000  260000  260000.0
Alauksta 16               1   43000   43000   43000.0
Alberta 2                 1  680000  680000  680000.0
...                     ...     ...     ...       ...
Ģertrūdes 71              1  169000  169000  169000.0
Ģertrūdes 78              1   71900   71900   71900.0
Ģertrūdes 91a             1   30000   30000   30000.0
Ģertrūdes 99              1  105000  105000  105000.0
Šarlotes 5                1  180000  180000  180000.0

[504 rows x 4 columns]

In [104]:
grouped_by_series = df.groupby(by="Sērija")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_series

          count    min      max           mean
Sērija
103.          4  43000   120000   74475.000000
467.          2  85000    89500   87250.000000
Hrušč.       24  41500    96000   62191.666667
Jaun.       103  29800  2476650  292482.038835
LT proj.      2  66000    87500   76750.000000
P. kara     352  11800   699000  140001.474432
Priv. m.      2  26680    86900   56790.000000
Renov.      258  34970  1475000  158956.441860
Specpr.      31   9580   600000  126202.741935
Staļina      30  22800   330000  116385.000000
Čehu pr.      2  50490    70000   60245.000000

In [95]:
grouped_by_floor = df.groupby(by="floor")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_floor

       count     min      max           mean
floor
1        119   19000   369000  104977.537815
2        168   11890  1750000  189899.696429
3        126   27500   463000  153661.119048
4         79   45579   724800  198776.822785
5         97   25000   439000  156083.938144
6         62   36000   802880  215051.387097
7          6   67000   595000  239783.333333
8          2   99000    99000   99000.000000
10         1  142300   142300  142300.000000
11         1   92000    92000   92000.000000
12         1  129700   129700  129700.000000
15         2  370000   420390  395195.000000
18         2  344000   405000  374500.000000
19         1  480000   480000  480000.000000
20         1  600000   600000  600000.000000

In [ ]:
len(grouped_by_floor)

In [ ]:
grouped_by_floor.hist(bins=len(grouped_by_floor))

In [ ]:
grouped_by_pag = df.groupby(by="Pagasts")['price'].agg(["count", "min", "max", "mean", ])
grouped_by_pag

In [ ]:
grouped_by_pag.hist()

In [ ]:
grouped_by_pag.plot(x="Pagasts", y="mean")

In [ ]:
df.to_excel("c:/temp/my_apartments.xlsx") # i could this with absolute path

In [105]:
from datetime import datetime as dt
now = dt.now()
now.month, now.day, now.hour, now.second

(5, 11, 20, 16)

In [ ]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
url = centrs
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"
save_path

In [106]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0] # to automate the region name
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"

df = get_all_ads_df(url, save_path)

Gathering data from https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/
Saving to ../data/sarkandaugava_11_5__20_28.xlsx

In [ ]:
url = "https://www.ss.com/lv/transport/cars/vaz/riga_f/"
df = get_all_ads_df(url, "../data/vaz_18_03.xlsx")

# TODO 
# Try with different starting address not only centrs
## Maybe combine regions
## See how it would work with maybe cars
## Data engineering make new columns based on existing ones, clean some columns
### Changing floors 2/6 to columns 2 and 6, clean up Euro signs
## Sorting, Describing, Grouping by regions etc

In [ ]:
df = pd.read_excel("centrs_10_03.xlsx")
df.head()

In [ ]:
df.shape

In [ ]:
df["price"] = df.Cena.str.split(' ').str[0]
df.head()

In [ ]:
df.price = df.price.str.replace(",","").astype('int32') # so clean string of , and then convert to integer
df.head()

In [ ]:
df.price.hist()

In [ ]:
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.info()

In [ ]:
#typecasting example
df.Floor = df.Floor.astype('int32')
df.MaxFloor = df.MaxFloor.astype('int32')

In [ ]:
df.head()

In [ ]:
d23 = df[df.MaxFloor > 20]
d23

In [ ]:
df.describe().T # T is for transposing rows and columns

In [ ]:
df.describe().T.to_csv("center_stats.csv")

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(df, x="price", nbins=100)
fig.show()

In [ ]:
import seaborn as sns # seaborn sits on top of matplotlib with better defaults
import matplotlib.pyplot as plt

In [ ]:
df.info()

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
volvo_url = "https://www.ss.com/lv/transport/cars/volvo/sell/"
volvos = get_all_ads_df(volvo_url, "../data/volvo_03_18.xlsx")

In [ ]:
volvos = pd.read_excel("volvo_270921.xlsx")
volvos.head()

In [ ]:
volvos.shape

In [ ]:
volvos.head(10)

In [ ]:
gr_auto['Price'] =

In [ ]:
volvos["price"] = volvos.Cena.str.split(' ').str[0]
volvos.price = volvos.price.str.replace(",","").astype('int32')
volvos.head()

In [ ]:

gr_auto = volvos.groupby(["Gads","Modelis"])["price"].agg(["count", "min", "max", "mean", ])  #.head(n = 10)
gr_auto

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(0).str.contains("2015")] # how to filter multi level index

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(1).str.contains("S60")]

In [ ]:
gr_auto.loc[gr_auto.index.get_level_values(1).str.contains("S60")].to_excel("S60.xlsx")

In [ ]:
print(dt.today())

In [ ]:
suzuki_url = "https://www.ss.com/lv/transport/cars/suzuki/"
# sdf = get_all_ads_df(suzuki_url, f"suzuki_{dt.today()}.xlsx")
sdf = get_all_ads_df(suzuki_url, f"suzuki.xlsx")
sdf.head()

In [ ]:
sdf.info()

In [ ]:
sdf["Tilp."] = sdf["Tilp."].str.replace("\w","", regex=True)
sdf.head()

In [ ]:
sdf["Nobrauk."] = sdf["Nobrauk."].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf["Cena"] = sdf["Cena"].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf = sdf.dropna(how="any", axis=0)
sdf

In [ ]:
sdf = sdf[sdf["Nobrauk."].str.len() > 0] # got rid of those empty rows finally
sdf

In [ ]:
sdf["Cena"] = sdf["Cena"].astype("float32")

In [ ]:
gr_auto = sdf.groupby(["Gads","Modelis"])["Cena"].agg(["count","min", "max", "mean"]) 
gr_auto