In [1]:
import pandas as pd

In [2]:
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# notice how we can specify some parameters in the url

In [3]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [4]:
len(dfs) # why list and why such length ?
# well ss.com was made in early 2000s when tables were used for everything

7

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [5]:
df = dfs[4] # the 5th table on our page has our info
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,3 istabu dzīvoklis Viktora Štama projektētā jū...,Gogoļa 10,3,70,2/5,P. kara,"1,257 €","88,000 €"
1,NaN,NaN,Laba cena par dzīvokli izcilā vietā. Panorāmas...,Teātra 12,5,136,6/7,P. kara,"2,022 €","275,000 €"
2,NaN,NaN,"Izbaudiet Rīgas pilsētas dzīvi, atrodoties tās...",Dzirnavu 83,2,68,6/7,Jaun.,"3,750 €","255,000 €"
3,NaN,NaN,"Наслаждайся прелестями городской жизни, находя...",Dzirnavu 81,3,90,4/7,Jaun.,"3,167 €","285,000 €"
4,NaN,NaN,"Продается просторная, солнечная с изолированны...",Zaļā 4,3,94,7/7,Specpr.,"1,649 €","155,000 €"

In [6]:
df.shape

(30, 10)

In [7]:
df.to_json("center.json")

In [8]:
df.to_excel("center.xlsx")

In [9]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [10]:
dflist = pd.read_html(url2, header=0)
len(dflist)

7

In [11]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"Īpašnieks pārdod tīru, gaišu, siltu 1-ist. dzī...",Tallinas 75A,1,26,3/3,P. kara,"1,346 €","35,000 €"
1,NaN,NaN,"Pārdod bez starpniekiem plašu dzīvokli, augsti...",Matīsa 89a,3,80,2/5,P. kara,"1,250 €","100,000 €"
2,NaN,NaN,"Nekustamā īpašuma trīs zelta likumi. -Vieta, -...",Blaumaņa 26,2,61,6/6,P. kara,"1,361 €","83,000 €"
3,NaN,NaN,Pārdod īpašumu pašā Rīgas centra sirdī. -Skand...,Stabu 20,2,52,4/6,P. kara,"2,019 €","105,000 €"
4,NaN,NaN,Квартира с панорамными окнами и прекрасным вид...,Duntes 28,2,57,11/16,Jaun.,"1,930 €","110,000 €"

In [12]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,3 istabu dzīvoklis Viktora Štama projektētā jū...,Gogoļa 10,3,70,2/5,P. kara,"1,257 €","88,000 €"
1,NaN,NaN,Laba cena par dzīvokli izcilā vietā. Panorāmas...,Teātra 12,5,136,6/7,P. kara,"2,022 €","275,000 €"
2,NaN,NaN,"Izbaudiet Rīgas pilsētas dzīvi, atrodoties tās...",Dzirnavu 83,2,68,6/7,Jaun.,"3,750 €","255,000 €"
3,NaN,NaN,"Наслаждайся прелестями городской жизни, находя...",Dzirnavu 81,3,90,4/7,Jaun.,"3,167 €","285,000 €"
4,NaN,NaN,"Продается просторная, солнечная с изолированны...",Zaļā 4,3,94,7/7,Specpr.,"1,649 €","155,000 €"

In [13]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [14]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)