In [2]:
import pandas as pd

![Lapsiņa](https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png)

In [1]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
# notice how we can specify some parameters in the url
url

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [3]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [4]:
len(dfs) # why list and why such length ?
# well ss.com was made in early 2000s when tables were used for everything

7

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [4]:
df = dfs[4] # the 5th table on our page has our info
# df = dfs[8] # 9th table for our riga region houses
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €"
1,NaN,NaN,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €"
2,NaN,NaN,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €"
3,NaN,NaN,Īpašnieks pārdod vienistabas dzīvokli 29 m2 pl...,Tomsona 25,1,29,3/5,Hrušč.,"1,717 €","49,800 €"
4,NaN,NaN,Pārdošanā pilnībā mēbelētu dzīvokli pilsētas c...,Tērbatas 26a,2,37,4/6,Renov.,"3,108 €","115,000 €"

### df.shape

In [6]:
df.to_json("center_jun30.json")

In [7]:
df.to_excel("center_jun30.xlsx")

In [8]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [9]:
dflist = pd.read_html(url2, header=0)
len(dflist)

7

In [10]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"Pārdod 4-istabu dzīvokli jaunajā, elitārajā mā...",Alauksta 9,4,136,6/6,Jaun.,"1,912 €","260,000 €"
1,NaN,NaN,Pārdod mājīgu dzīvokli Rīgas centrā blakus Bal...,Elijas 20,3,70,5/5,P. kara,"1,386 €","97,000 €"
2,NaN,NaN,В доме всего 4 квартиры. Есть своя зона барбек...,Stabu 78,3,63,1/2,P. kara,"1,000 €","63,000 €"
3,NaN,NaN,"Pārdodas gaišs, saulains un mājīgs, plašs dzīv...",Vīlandes 5,4,200,4/5,Renov.,"2,400 €","480,000 €"
4,NaN,NaN,Pārdodu skaistu un mājīgu 2 istabu dzīvokli Ce...,Tallinas 52,2,59,4/5,P. kara,"2,364 €","139,500 €"

In [11]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Augstvērtīgs 5 istabu dzīvoklis ar divām autos...,J. Daliņa 8,5,200,20/24,Jaun.,"3,000 €","600,000 €"
1,NaN,NaN,"Dzīvoklis atrodas centrā , pretim LU Svešvalod...",Visvalža 3a,2,52,5/5,P. kara,"1,471 €","76,500 €"
2,NaN,NaN,Remontēts 2 - istabu dzīvoklis pirmskara pagal...,Miera 10,2,75,3/5,P. kara,"1,700 €","127,500 €"
3,NaN,NaN,Īpašnieks pārdod vienistabas dzīvokli 29 m2 pl...,Tomsona 25,1,29,3/5,Hrušč.,"1,717 €","49,800 €"
4,NaN,NaN,Pārdošanā pilnībā mēbelētu dzīvokli pilsētas c...,Tērbatas 26a,2,37,4/6,Renov.,"3,108 €","115,000 €"

In [12]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [11]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)

In [9]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Latvia"
wikis = pd.read_html(wiki_url, header=0)
len(wikis)

8

In [10]:
for wiki in wikis:
    print(wiki.head(1))

                                   City  Population (2013)[2]  \
0  Daugavpils pronunciation (help·info)                 93312

   Population (2019)[3]
0                 82604
                               Town  Population (2010)[2]  \
0  Ainaži pronunciation (help·info)                  1008

   Population (2018)[3]       Municipality[1]
0                   787  Limbaži Municipality
Empty DataFrame
Columns: [Unnamed: 0, Wikimedia Commons has media related to Cities in Latvia.]
Index: []
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteDefunct counties and districts of Latvia  \
0            Former counties (dissolved before 1949)

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteDefunct counties and districts of Latvia.1
0  Abrenes apriņķis‎ Aizputes apriņķis‎ Bauskas a...
                 vteTowns with town rights in Latvia  \
0  Ainaži Aizkraukle Aizpute Aknīste Aloja Alūksn...

               vteTowns with town rights in Latvia.1
0  Ainaži Aizkraukle Aizpute Aknīste Aloja Alūksn...
  vteList of places in Europe  \
0            Sovereign states

                       vteList of places in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...
  vteLists of cities in Europe  \
0             Sovereign states

                      vteLists of cities in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...
  vteList of towns in Europe  \
0           Sovereign states

                        vteList of towns in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...

In [11]:
wikis[0].head()

,City,Population (2013)[2],Population (2019)[3]
0,Daugavpils pronunciation (help·info),93312,82604
1,Jelgava pronunciation (help·info),59511,55972
2,Jūrmala pronunciation (help·info),50840,49325
3,Liepāja pronunciation (help·info),76731,68945
4,Rēzekne pronunciation (help·info),32328,27820

In [13]:
wikis[1].head(5)

,Town,Population (2010)[2],Population (2018)[3],Municipality[1]
0,Ainaži pronunciation (help·info),1008,787,Limbaži Municipality
1,Aizkraukle pronunciation (help·info),8709,7489,Aizkraukle Municipality
2,Aizpute pronunciation (help·info),5104,4443,South Kurzeme Municipality
3,Aknīste pronunciation (help·info),1224,1078,Jēkabpils Municipality
4,Aloja pronunciation (help·info),1353,1197,Limbaži Municipality