## JSON

# JSON - Javascript Object Notation
#### Invented by Douglas Crockford when working at Yahoo in early 2000s.

* Goal - Human Readable, Machine Parsable

* Specification: https://www.json.org/

JSON — short for JavaScript Object Notation — format for sharing data. 

JSON is derived from the JavaScript programming language

Available for use by many languages including Python 

usually file extension is .json when stored

In [ ]:
# Sample JSON below from https://json.org/example.html
# Question why is Syntax highlighting working properly ? :)

In [6]:
{"widget": {
    "debug": "on",
    "window": {
        "title": "Sample Konfabulator Widget",
        "name": "main_window",
        "width": 500,
        "height": 500
    },
    "image": { 
        "src": "Images/Sun.png",
        "name": "sun1",
        "hOffset": 250,
        "vOffset": 250,
        "alignment": "center"
    },
    "text": {
        "data": "Click Here",
        "size": 36,
        "style": "bold",
        "name": "text1",
        "hOffset": 250,
        "vOffset": 100,
        "alignment": "center",
        "onMouseUp": "sun1.opacity = (sun1.opacity / 100) * 90;"
    }
}}

{'widget': {'debug': 'on',
  'window': {'title': 'Sample Konfabulator Widget',
   'name': 'main_window',
   'width': 500,
   'height': 500},
  'image': {'src': 'Images/Sun.png',
   'name': 'sun1',
   'hOffset': 250,
   'vOffset': 250,
   'alignment': 'center'},
  'text': {'data': 'Click Here',
   'size': 36,
   'style': 'bold',
   'name': 'text1',
   'hOffset': 250,
   'vOffset': 100,
   'alignment': 'center',
   'onMouseUp': 'sun1.opacity = (sun1.opacity / 100) * 90;'}}}

In [7]:
# if this was string starting with { it would be our json
mydata = {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "dancing"],
    "age": 43,
    "children": [
        {
            "firstName": "Alice",
            "age": 7
        },
        {
            "firstName": "Bob",
            "age": 13
        }
    ]
}

In [8]:
type(mydata)

dict

In [9]:
print(mydata)

{'firstName': 'Jane', 'lastName': 'Doe', 'hobbies': ['running', 'sky diving', 'dancing'], 'age': 43, 'children': [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}]}

In [10]:
mydata['children'][1]['age']

13

In [8]:
mylist = list(range(10))
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The process of encoding JSON is usually called serialization. This term refers to the transformation of data into a series of bytes (hence serial) to be stored or transmitted across a network. You may also hear the term marshaling, but that’s a whole other discussion. Naturally, deserialization is the reciprocal process of decoding data that has been stored or delivered in the JSON standard.

All we’re talking about here is reading and writing. Think of it like this: encoding is for writing data to disk, while decoding is for reading data into memory.
 https://realpython.com/python-json/

In [11]:
mydata

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'dancing'],
 'age': 43,
 'children': [{'firstName': 'Alice', 'age': 7},
  {'firstName': 'Bob', 'age': 13}]}

In [12]:
# we need a library for decoding and encoding json
import json

In [13]:
# first we are going to dump our data into a text file
with open("data_file.json", mode="w") as write_file:
    json.dump(mydata, write_file)
# remember that stream is closed here and file is written by now

In [15]:
with open("data_file_indented.json", mode="w") as write_file:
    json.dump(mydata, write_file, indent=4)

In [16]:
import requests # this library is not included with Python but is very popular and comes with Anaconda
# pip install requests otherwise

In [17]:
# we make a http request to a url and print the response code
url = "https://my.api.mockaroo.com/ageincluded.json?key=58227cb0"
response = requests.get(url)
print(response.status_code) # Response Code 200 is good!

200

In [18]:
myjson = response.json()
type(myjson), len(myjson)

(list, 100)

In [17]:
# idea get average age of Japanese Men in our JSON data

In [19]:
myjson[:5]

[{'id': 1,
  'first_name': 'Hollis',
  'last_name': 'Tibbetts',
  'email': 'htibbetts0@google.de',
  'gender': 'Male',
  'ip_address': '217.97.223.129',
  'age': 15},
 {'id': 2,
  'first_name': 'Magnum',
  'last_name': 'Yurocjhin',
  'email': 'myurocjhin1@qq.com',
  'gender': 'Male',
  'ip_address': '130.104.180.92',
  'age': 40},
 {'id': 3,
  'first_name': 'Petra',
  'last_name': 'Airdrie',
  'email': 'pairdrie2@dedecms.com',
  'gender': 'Female',
  'ip_address': '49.71.146.110',
  'age': 79},
 {'id': 4,
  'first_name': 'Mariana',
  'last_name': 'Oxton',
  'email': 'moxton3@mapy.cz',
  'gender': 'Female',
  'ip_address': '48.79.117.141',
  'age': 49},
 {'id': 5,
  'first_name': 'Glenine',
  'last_name': 'Gawkroge',
  'email': 'ggawkroge4@hubpages.com',
  'gender': 'Female',
  'ip_address': '209.102.111.221',
  'age': 25}]

In [19]:
japanese = [person for person in myjson if person.get('email').endswith('.jp')]
japanese

[{'id': 30,
  'first_name': 'Susanne',
  'last_name': 'Agget',
  'email': 'saggett@shop-pro.jp',
  'gender': 'Female',
  'ip_address': '187.150.89.100',
  'age': 6},
 {'id': 50,
  'first_name': 'Marten',
  'last_name': 'Vinson',
  'email': 'mvinson1d@plala.or.jp',
  'gender': 'Male',
  'ip_address': '205.98.74.105',
  'age': 11},
 {'id': 90,
  'first_name': 'Jacinthe',
  'last_name': 'Duckerin',
  'email': 'jduckerin2h@ocn.ne.jp',
  'gender': 'Female',
  'ip_address': '5.63.78.102',
  'age': 67}]

In [22]:
uk = [person for person in myjson if person.get('email').endswith('.uk')]
uk

[{'id': 6,
  'first_name': 'Daria',
  'last_name': 'Eixenberger',
  'email': 'deixenberger5@thetimes.co.uk',
  'gender': 'Female',
  'ip_address': '81.213.1.205',
  'age': 64},
 {'id': 23,
  'first_name': 'Bel',
  'last_name': 'Pentin',
  'email': 'bpentinm@thetimes.co.uk',
  'gender': 'Female',
  'ip_address': '152.231.227.95',
  'age': 53},
 {'id': 78,
  'first_name': 'Danika',
  'last_name': 'Dowyer',
  'email': 'ddowyer25@dailymail.co.uk',
  'gender': 'Female',
  'ip_address': '113.88.97.188',
  'age': 2},
 {'id': 79,
  'first_name': 'Kriste',
  'last_name': 'Wheeler',
  'email': 'kwheeler26@guardian.co.uk',
  'gender': 'Female',
  'ip_address': '96.51.239.156',
  'age': 35},
 {'id': 82,
  'first_name': 'Nevsa',
  'last_name': 'Hallwell',
  'email': 'nhallwell29@telegraph.co.uk',
  'gender': 'Female',
  'ip_address': '20.201.32.38',
  'age': 49}]

In [23]:
uk_ages = [(person.get('first_name'),int(person.get('age'))) for person in uk]
uk_ages

[('Daria', 64), ('Bel', 53), ('Danika', 2), ('Kriste', 35), ('Nevsa', 49)]

In [24]:
with open("uk_ages.json", mode="w") as fstream:
    json.dump(uk_ages, fstream, indent=4)

In [25]:
type(mydata)

dict

In [26]:
# use json string in our program
json_string = json.dumps(mydata)
print(json_string)

{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": "Alice", "age": 7}, {"firstName": "Bob", "age": 13}]}

In [16]:
print(mydata)

{'firstName': 'Jane', 'lastName': 'Doe', 'hobbies': ['running', 'sky diving', 'dancing'], 'age': 43, 'children': [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}]}

In [27]:
type(json_string)

str

In [28]:
type(mydata)

dict

In [29]:
# Convert Json_string back to our Python Object
my_obj = json.loads(json_string)
my_obj

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'dancing'],
 'age': 43,
 'children': [{'firstName': 'Alice', 'age': 7},
  {'firstName': 'Bob', 'age': 13}]}

In [30]:
my_obj.get('firstName')

'Jane'

In [21]:
mydata

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'dancing'],
 'age': 43,
 'children': [{'firstName': 'Alice', 'age': 7},
  {'firstName': 'Bob', 'age': 13}]}

In [22]:
newlist = json.loads('[1,3,5,"Valdis"]')
newlist

[1, 3, 5, 'Valdis']

In [23]:
type(newlist)

list

In [27]:
badlist = json.loads('[1,3,5,"Vald]",334342]')
badlist

[1, 3, 5, 'Vald]', 334342]

In [ ]:
type(json_string)

In [ ]:
# Avove example JSON and Python object have the same syntax but there are some differences

![object](../img/object.png)

![Array](../img/array.png)

![Value](../img/value.png)

Simple Python objects are translated to JSON according to a fairly intuitive conversion.

Python	JSON

dict	object

list, tuple	array

str	string

int, long, 

float	number

True	true

False	false

None	null

In [28]:
newlist = json.loads('[true,2,null, false, 555.333]')
newlist

[True, 2, None, False, 555.333]

In [29]:
# The first option most people want to change is whitespace. You can use the indent keyword argument to specify the indentation size for nested structures. Check out the difference for yourself by using data, which we defined above, and running the following commands in a console:

json.dumps(mydata)

'{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": "Alice", "age": 7}, {"firstName": "Bob", "age": 13}]}'

In [30]:
# very useful for visibility!
print(json.dumps(mydata, indent=4))

{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": [
        "running",
        "sky diving",
        "dancing"
    ],
    "age": 43,
    "children": [
        {
            "firstName": "Alice",
            "age": 7
        },
        {
            "firstName": "Bob",
            "age": 13
        }
    ]
}

In [31]:
with open("data_file.json", "w") as write_file:
    json.dump(mydata, write_file, indent=4)

In [31]:
# how to read json into our python data obj from file
with open("data_file.json", "r") as read_file:
    data = json.load(read_file)
data

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'dancing'],
 'age': 43,
 'children': [{'firstName': 'Alice', 'age': 7},
  {'firstName': 'Bob', 'age': 13}]}

In [33]:
type(data)

dict

In [34]:
len(data)

5

In [37]:
list(data.items())

[('firstName', 'Jane'),
 ('lastName', 'Doe'),
 ('hobbies', ['running', 'sky diving', 'dancing']),
 ('age', 43),
 ('children',
  [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}])]

In [40]:
numberedlist = list(enumerate(data.items()))
numberedlist

[(0, ('firstName', 'Jane')),
 (1, ('lastName', 'Doe')),
 (2, ('hobbies', ['running', 'sky diving', 'dancing'])),
 (3, ('age', 43)),
 (4,
  ('children',
   [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}]))]

In [42]:
# save numberedlist with ident = 4 in file numberedlist.json
with open('numberedlist.json', mode='w') as f:
    json.dump(numberedlist, f, indent=4)

Keep in mind that the result of this method could return any of the allowed data types from the conversion table. This is only important if you’re loading in data you haven’t seen before. In most cases, the root object will be a dict or a list.

If you've gotten JSON data in from another program or have otherwise obtained a string of JSON formatted data in Python, you can easily deserialize that with loads(), which naturally loads from a string:

In [43]:
json_string = """
{
    "researcher": {
        "name": "Ford Prefect",
        "species": "Betelgeusian",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ]
    }
}
"""
data = json.loads(json_string)
data

{'researcher': {'name': 'Ford Prefect',
  'species': 'Betelgeusian',
  'relatives': [{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]}}

In [44]:
# get value of relative's name
data['researcher']

{'name': 'Ford Prefect',
 'species': 'Betelgeusian',
 'relatives': [{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]}

In [45]:
# get value of relative's name
data['researcher']['relatives']

[{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]

In [46]:
# get value of relative's name
data['researcher']['relatives'][0]

{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}

In [48]:
# get value of relative's name
data['researcher']['relatives'][0]['name']

'Zaphod Beeblebrox'

In [49]:
data['researcher']['relatives'][0]['name'].split()[0]

'Zaphod'

In [50]:
data['researcher']['relatives'][0]['name'].split()[0][:4]

'Zaph'

In [ ]:
type(data)

In [51]:
import json
import requests

In [ ]:
## Lets get some data https://jsonplaceholder.typicode.com/

In [32]:
response = requests.get("https://jsonplaceholder.typicode.com/todos")
if response.status_code != 200:
    print("Bad Response: ", response.status_code)
print(response.status_code)
todos = json.loads(response.text)

200

can open https://jsonplaceholder.typicode.com/todos in regular browser too..

In [33]:
type(todos)

list

In [34]:
len(todos)

200

In [36]:
todos[:10]

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 {'userId': 1,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'completed': False},
 {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False},
 {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'completed': False},
 {'userId': 1,
  'id': 6,
  'title': 'qui ullam ratione quibusdam voluptatem quia omnis',
  'completed': False},
 {'userId': 1,
  'id': 7,
  'title': 'illo expedita consequatur quia in',
  'completed': False},
 {'userId': 1,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'completed': True},
 {'userId': 1,
  'id': 9,
  'title': 'molestiae perspiciatis ipsa',
  'completed': False},
 {'userId': 1,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'completed': True}]

In [37]:
# completedworks = [el for el in todos if el['completed'] == True]
completedworks = [el for el in todos if el.get('completed') == True]
len(completedworks)

90

In [63]:
completedworks[-10:]

[{'userId': 10, 'id': 188, 'title': 'vel non beatae est', 'completed': True},
 {'userId': 10,
  'id': 189,
  'title': 'culpa eius et voluptatem et',
  'completed': True},
 {'userId': 10,
  'id': 190,
  'title': 'accusamus sint iusto et voluptatem exercitationem',
  'completed': True},
 {'userId': 10,
  'id': 191,
  'title': 'temporibus atque distinctio omnis eius impedit tempore molestias pariatur',
  'completed': True},
 {'userId': 10,
  'id': 193,
  'title': 'rerum debitis voluptatem qui eveniet tempora distinctio a',
  'completed': True},
 {'userId': 10,
  'id': 195,
  'title': 'rerum ex veniam mollitia voluptatibus pariatur',
  'completed': True},
 {'userId': 10,
  'id': 196,
  'title': 'consequuntur aut ut fugit similique',
  'completed': True},
 {'userId': 10,
  'id': 197,
  'title': 'dignissimos quo nobis earum saepe',
  'completed': True},
 {'userId': 10,
  'id': 198,
  'title': 'quis eius est sint explicabo',
  'completed': True},
 {'userId': 10,
  'id': 199,
  'title': 'numquam repellendus a magnam',
  'completed': True}]

In [61]:
type(completedworks)

list

In [38]:
users = {}
for el in completedworks:
    k = el['userId']
    if k in users:
        users[k] +=1
    else:
        users[k] = 1
users

{1: 11, 2: 8, 3: 7, 4: 6, 5: 12, 6: 6, 7: 9, 8: 11, 9: 8, 10: 12}

In [71]:
sorted(users.items(),key = lambda el: el[1], reverse=True)

[(5, 12),
 (10, 12),
 (1, 11),
 (8, 11),
 (7, 9),
 (2, 8),
 (9, 8),
 (3, 7),
 (4, 6),
 (6, 6)]

In [39]:
from collections import Counter

In [40]:
count = Counter([el['userId'] for el in completedworks])
count.most_common()

[(5, 12),
 (10, 12),
 (1, 11),
 (8, 11),
 (7, 9),
 (2, 8),
 (9, 8),
 (3, 7),
 (4, 6),
 (6, 6)]

In [83]:
# lets do everything at once
finishedcount = Counter([el.get('userId') for el in todos if el.get('completed') == True])
finishedcount.most_common()

[(5, 12),
 (10, 12),
 (1, 11),
 (8, 11),
 (7, 9),
 (2, 8),
 (9, 8),
 (3, 7),
 (4, 6),
 (6, 6)]

In [80]:
todos[-3:]

[{'userId': 10,
  'id': 198,
  'title': 'quis eius est sint explicabo',
  'completed': True},
 {'userId': 10,
  'id': 199,
  'title': 'numquam repellendus a magnam',
  'completed': True},
 {'userId': 10,
  'id': 200,
  'title': 'ipsam aperiam voluptates qui',
  'completed': False}]

In [81]:
[1,2] + [3,4,6,6]

[1, 2, 3, 4, 6, 6]

In [84]:
todos += [{'completed':True},{'completed':True},{'completed':True},{'completed':True}]
todos[-5:]

[{'myname': 'Valdis'},
 {'completed': True},
 {'completed': True},
 {'completed': True},
 {'completed': True}]

In [85]:
# lets do everything at once
finishedcount = Counter([el.get('userId') for el in todos if el.get('completed') == True])
finishedcount.most_common()

[(5, 12),
 (10, 12),
 (1, 11),
 (8, 11),
 (7, 9),
 (2, 8),
 (9, 8),
 (3, 7),
 (4, 6),
 (6, 6),
 (None, 4)]

In [56]:
myl = [('Valdis', 40), ('Alice',35), ('Bob', 23),('Carol',70)]

In [ ]:
# Lambda = anonymous function

In [ ]:
def myfun(el):
    return el[1]
# same as myfun = lambda el: el[1]

In [ ]:
sorted(myl, key = lambda el: el[1], reverse=True)

In [ ]:
# Exercise find out top 3 users with most tasks completed!

# TIPS
# we need some sort of structure to store these user results before finding out top 3
# at least two good data structure choices here :)
# here the simplest might actually be the best if we consider userId values

In [ ]:
todos[0]

In [ ]:
todos[0]['userId']

In [ ]:
todos[0]['completed']

In [ ]:
# Here we create a new dictionary and and count the completed works by id
newdict = {}
for todo in todos:
    if todo['completed'] == True:
        if todo['userId'] in newdict:
            newdict[todo['userId']] += 1
        else:
            newdict[todo['userId']] = 1

In [ ]:
newdict

In [ ]:
sorted(newdict.items())

In [ ]:
bestworkers = sorted(newdict.items(), key=lambda el: el[1], reverse=True)
bestworkers[:3]

In [ ]:
users = [ el['userId'] for el in todos]
len(users),users[:15]

In [ ]:
uniqusers = set(users)
uniqusers

In [ ]:
# dictionary comprehension but could live without one
users = { el['userId'] : 0 for el in todos}

In [ ]:
users

In [ ]:
users.keys()

In [ ]:
users.value

In [ ]:
#{'completed': True,
# 'id': 8,
#  'title': 'quo adipisci enim quam ut ab',
#  'userId': 1}

In [ ]:
#idiomatic
for el in todos:
    users[el['userId']] += el['completed'] # Boolean False is 0 True is 1 obviously this might not be too readable

In [ ]:
# same as above could be useful in more complicated cases
for el in todos:
    if el['completed'] == True:
        users[el['userId']] += 1

In [ ]:
# there could be a one liner or a solution with from collections import Counter

In [ ]:
users.items()

In [ ]:
list(users.items())

In [ ]:
userlist=list(users.items())

In [ ]:
type(userlist[0])

In [ ]:
# we pass a key anonymous(lambda) function
sorted(userlist, key=lambda el: el[1], reverse=True)[:3]

In [ ]:
# lets try a simple way

In [ ]:
mylist=[0]
mylist*=11

In [ ]:
for el in todos:
    if el['completed'] == True:
        mylist[el['userId']] +=1

In [ ]:
mylist

In [ ]:
mylist.index(max(mylist))

In [ ]:
# kind of hard to get more values need to get tricky

# How about Pandas and Json ?

In [41]:
import pandas as pd

In [42]:
df = pd.read_json('https://jsonplaceholder.typicode.com/todos')

In [43]:
df.head()

   completed  id                                              title  userId
0      False   1                                 delectus aut autem       1
1      False   2                 quis ut nam facilis et officia qui       1
2      False   3                                fugiat veniam minus       1
3       True   4                                   et porro tempora       1
4      False   5  laboriosam mollitia et enim quasi adipisci qui...       1

In [44]:
df.shape

(200, 4)

In [45]:
df.describe()

               id      userId
count  200.000000  200.000000
mean   100.500000    5.500000
std     57.879185    2.879489
min      1.000000    1.000000
25%     50.750000    3.000000
50%    100.500000    5.500000
75%    150.250000    8.000000
max    200.000000   10.000000

In [46]:
df.describe(include=['O'])

                                                    title
count                                                 200
unique                                                200
top     vel nihil et molestiae iusto assumenda nemo qu...
freq                                                    1

In [47]:
# we see that completed
df.groupby(['userId']).sum()

        completed    id
userId
1            11.0   210
2             8.0   610
3             7.0  1010
4             6.0  1410
5            12.0  1810
6             6.0  2210
7             9.0  2610
8            11.0  3010
9             8.0  3410
10           12.0  3810

In [52]:
busyjson

'{"10":12.0,"5":12.0,"8":11.0,"1":11.0,"7":9.0,"9":8.0,"2":8.0,"3":7.0,"6":6.0,"4":6.0}'

In [48]:
df.groupby(['userId'])['completed'].sum()

userId
1     11.0
2      8.0
3      7.0
4      6.0
5     12.0
6      6.0
7      9.0
8     11.0
9      8.0
10    12.0
Name: completed, dtype: float64

In [98]:
# if we need a single column dataframe
df.groupby(['userId'])[['completed']].sum()

        completed
userId
1            11.0
2             8.0
3             7.0
4             6.0
5            12.0
6             6.0
7             9.0
8            11.0
9             8.0
10           12.0

In [49]:
df.groupby(['userId'])['completed'].sum().sort_values()

userId
4      6.0
6      6.0
3      7.0
2      8.0
9      8.0
7      9.0
1     11.0
8     11.0
5     12.0
10    12.0
Name: completed, dtype: float64

In [50]:
df.groupby(['userId'])['completed'].sum().sort_values(ascending=False)

userId
10    12.0
5     12.0
8     11.0
1     11.0
7      9.0
9      8.0
2      8.0
3      7.0
6      6.0
4      6.0
Name: completed, dtype: float64

In [51]:
busyjson = pd.read_json('https://jsonplaceholder.typicode.com/todos').groupby(['userId'])['completed'].sum().sort_values(ascending=False).to_json()

In [109]:
def prettyJSON(myjson):
    return json.dumps(json.loads(myjson), indent=4)

In [110]:
type(busyjson)

str

In [111]:
prettybusy = prettyJSON(busyjson)

In [113]:
with open('prettybusy.json', mode='w') as f:
    f.write(prettybusy)

# Exercise Find Public JSON API get data and convert it into Pandas DataFrame

## Many possible sources

https://github.com/toddmotto/public-apis
    
### You want the ones without authorization and WITH CORS unless you are feeling adventurous and want to try with auth

In [53]:
df = pd.read_json('https://cat-fact.herokuapp.com/facts/random?animal_type=cat&amount=50')
df.head()

,__v,_id,createdAt,deleted,source,status,text,type,updatedAt,used,user
0,0,591f98783b90f7150a19c1ab,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",Cats and kittens should be acquired in pairs w...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
1,0,5955792c7b77520020799431,2018-02-23T21:20:04.118Z,False,user,"{'verified': True, 'sentCount': 1}","Cats ""knead"" because of seperation from their ...",cat,2020-08-23T20:20:01.611Z,False,595579027b77520020799430
2,0,5a038cdf8e3dbc001f719790,2018-02-01T21:20:02.808Z,False,user,"{'verified': True, 'sentCount': 1}",The ability of a cat to reflexively twist its ...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
3,0,591f98783b90f7150a19c1da,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",The cat appears to be the only domestic compan...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
4,0,591f98703b90f7150a19c15d,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",Most cats killed on the road are un-neutered t...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381

In [54]:
df.columns = sorted(df.columns)
df.head()

,__v,_id,createdAt,deleted,source,status,text,type,updatedAt,used,user
0,0,591f98783b90f7150a19c1ab,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",Cats and kittens should be acquired in pairs w...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
1,0,5955792c7b77520020799431,2018-02-23T21:20:04.118Z,False,user,"{'verified': True, 'sentCount': 1}","Cats ""knead"" because of seperation from their ...",cat,2020-08-23T20:20:01.611Z,False,595579027b77520020799430
2,0,5a038cdf8e3dbc001f719790,2018-02-01T21:20:02.808Z,False,user,"{'verified': True, 'sentCount': 1}",The ability of a cat to reflexively twist its ...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
3,0,591f98783b90f7150a19c1da,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",The cat appears to be the only domestic compan...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381
4,0,591f98703b90f7150a19c15d,2018-01-04T01:10:54.673Z,False,api,"{'verified': True, 'sentCount': 1}",Most cats killed on the road are un-neutered t...,cat,2020-08-23T20:20:01.611Z,False,5a9ac18c7478810ea6c06381

In [55]:
response = requests.get("https://cat-fact.herokuapp.com/facts/random?animal_type=cat&amount=50")
if response.status_code != 200:
    print("Bad Response: ", response.status_code)
print(response.status_code)
cats = json.loads(response.text)
cats[:3]

200

[{'used': False,
  'source': 'api',
  'type': 'cat',
  'deleted': False,
  '_id': '591f98783b90f7150a19c189',
  '__v': 0,
  'text': 'A cat has approximately 60 to 80 million olfactory cells (a human has between 5 and 20 million).',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2018-01-04T01:10:54.673Z',
  'status': {'verified': True, 'sentCount': 1},
  'user': '5a9ac18c7478810ea6c06381'},
 {'used': False,
  'source': 'api',
  'type': 'cat',
  'deleted': False,
  '_id': '591f9858c5cbe314f7a7ad36',
  '__v': 0,
  'text': "Cats respond better to women than to men, probably due to the fact that women's voices have a higher pitch.",
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2018-05-18T20:20:03.088Z',
  'status': {'verified': True, 'sentCount': 1},
  'user': '5a9ac18c7478810ea6c06381'},
 {'used': False,
  'source': 'user',
  'type': 'cat',
  'deleted': False,
  '_id': '5a4d76916ef087002174c28b',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2018-06-15T20:20:02.579Z',
  'user': '5a9ac18c7478810ea6c06381',
  'text': 'A cat’s nose pad is ridged with a unique pattern, just like the fingerprint of a human.',
  '__v': 0,
  'status': {'verified': True, 'sentCount': 1}}]

In [57]:
response = requests.get("https://cat-fact.herokuapp.com/facts/random",
                        params={"animal_type":"cat", "amount":20})
if response.status_code != 200:
    print("Bad Response: ", response.status_code)
print(response.status_code)
cats = json.loads(response.text) # simpler response.json() 
cats[:3]

200

[{'used': False,
  'source': 'user',
  'type': 'cat',
  'deleted': False,
  '_id': '5c6097eee549020014533030',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2019-02-10T21:30:22.033Z',
  'user': '5a9ac18c7478810ea6c06381',
  'text': 'Legend holds that the Chartreux once lived alongside the Carthusian monks of France.',
  '__v': 0,
  'status': {'verified': True, 'sentCount': 1}},
 {'used': False,
  'source': 'user',
  'type': 'cat',
  'deleted': False,
  '_id': '5c3552738e0b8d00148d45e6',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2019-01-09T01:46:27.122Z',
  'user': '5a9ac18c7478810ea6c06381',
  'text': "Cat's cannot see in total darkness, however their vision is much better than a human's in semidarkness because their retinas are much more sensitive to light.",
  '__v': 0,
  'status': {'verified': True, 'sentCount': 1}},
 {'used': False,
  'source': 'api',
  'type': 'cat',
  'deleted': False,
  '_id': '591f9890d369931519ce3552',
  '__v': 0,
  'text': 'A steady diet of dog food may cause blindness in your cat - it lacks taurine.',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'createdAt': '2018-01-04T01:10:54.673Z',
  'status': {'verified': True, 'sentCount': 1},
  'user': '5a9ac18c7478810ea6c06381'}]

In [58]:
len(cats)`

20

In [60]:
response.status_code

200

In [61]:
cats2 = response.json()
len(cats2)

20

In [64]:
cats2 == cats, cats2 is cats 
#data are the same we just have two different copies of them

(True, False)

In [115]:
df.loc[0, 'text']

'At 4 weeks, it is important to play with kittens so that they do not develope a fear of people.'

In [ ]:
## For authorization you generally need some sort of token(key)
# One example for zendesk API  https://develop.zendesk.com/hc/en-us/community/posts/360001652447-API-auth-in-python


# For an API token, append '/token' to your username and use the token as the password:
## This will not work for those without zendesk access token

url = 'https://your_subdomain.zendesk.com/api/v2/users/123.json'
r = requests.get(url, auth=('user@example.com/token', 'your_token'))
# For an OAuth token, set an Authorization header:

bearer_token = 'Bearer ' + access_token
header = {'Authorization': bearer_token}
url = 'https://your_subdomain.zendesk.com/api/v2/users/123.json'
r = requests.get(url, headers=header)

In [66]:
def myReadJSON(url):
    response = requests.get(url)
    if response.status_code != 200:
        print("Bad Response: ", response.status_code)
    print("Status CODE", response.status_code)
    return json.loads(response.text)

In [67]:
rawdrinks = myReadJSON("https://www.thecocktaildb.com/api/json/v1/1/search.php?s=margarita")
type(rawdrinks)

Status CODE 200

dict

In [68]:
rawdrinks.keys()

dict_keys(['drinks'])

In [69]:
mydrinks = pd.DataFrame(rawdrinks['drinks'])
mydrinks.head()

,dateModified,idDrink,strAlcoholic,strCategory,strCreativeCommonsConfirmed,strDrink,strDrinkAlternate,strDrinkDE,strDrinkES,strDrinkFR,...,strMeasure2,strMeasure3,strMeasure4,strMeasure5,strMeasure6,strMeasure7,strMeasure8,strMeasure9,strTags,strVideo
0,2015-08-18 14:42:59,11007,Alcoholic,Ordinary Drink,Yes,Margarita,None,None,None,None,...,1/2 oz,1 oz,None,None,None,None,None,None,"IBA,ContemporaryClassic",None
1,2015-08-18 14:51:53,11118,Alcoholic,Ordinary Drink,Yes,Blue Margarita,None,None,None,None,...,1 oz,1 oz,Coarse,None,None,None,None,None,None,None
2,2017-09-02 18:37:54,17216,Alcoholic,Ordinary Drink,No,Tommy's Margarita,None,None,None,None,...,1.5 cl,2 spoons,None,None,None,None,None,None,"IBA,NewEra",None
3,2015-09-02 17:00:22,16158,Alcoholic,Other/Unknown,No,Whitecap Margarita,None,None,None,None,...,2 oz,1/4 cup,3 tblsp fresh,None,None,None,None,None,None,None
4,2015-08-18 14:41:51,12322,Alcoholic,Ordinary Drink,No,Strawberry Margarita,None,None,None,None,...,1 oz,1/2 oz,1 oz,1 oz,None,None,None,None,None,None

In [132]:
# we can Transpose to get a sense of all columns
mydrinks.head().T

,0,1,2,3,4
dateModified,2015-08-18 14:42:59,2015-08-18 14:51:53,2017-09-02 18:37:54,2015-09-02 17:00:22,2015-08-18 14:41:51
idDrink,11007,11118,17216,16158,12322
strAlcoholic,Alcoholic,Alcoholic,Alcoholic,Alcoholic,Alcoholic
strCategory,Ordinary Drink,Ordinary Drink,Ordinary Drink,Other/Unknown,Ordinary Drink
strCreativeCommonsConfirmed,No,No,No,No,No
strDrink,Margarita,Blue Margarita,Tommy's Margarita,Whitecap Margarita,Strawberry Margarita
strDrinkAlternate,None,None,None,None,None
strDrinkDE,None,None,None,None,None
strDrinkES,None,None,None,None,None
strDrinkFR,None,None,None,None,None
strDrinkThumb,https://www.thecocktaildb.com/images/media/dri...,https://www.thecocktaildb.com/images/media/dri...,https://www.thecocktaildb.com/images/media/dri...,https://www.thecocktaildb.com/images/media/dri...,https://www.thecocktaildb.com/images/media/dri...
strDrinkZH-HANS,None,None,None,None,None
strDrinkZH-HANT,None,None,None,None,None
strGlass,Cocktail glass,Cocktail glass,Old-Fashioned glass,Margarita/Coupette glass,Cocktail glass
strIBA,Contemporary Classics,None,New Era Drinks,None,None
strIngredient1,Tequila,Tequila,Tequila,Ice,Strawberry schnapps
strIngredient10,None,None,None,None,None
strIngredient11,None,None,None,None,None
strIngredient12,None,None,None,None,None
strIngredient13,None,None,None,None,None
strIngredient14,None,None,None,None,None
strIngredient15,None,None,None,None,None
strIngredient2,Triple sec,Blue Curacao,Lime Juice,Tequila,Tequila
strIngredient3,Lime juice,Lime juice,Agave syrup,Cream of coconut,Triple sec
strIngredient4,Salt,Salt,None,Lime juice,Lemon juice
strIngredient5,None,None,None,None,Strawberries
strIngredient6,None,None,None,None,Salt
strIngredient7,None,None,None,None,None
strIngredient8,None,None,None,None,None
strIngredient9,None,None,None,None,None
strInstructions,Rub the rim of the glass with the lime slice t...,Rub rim of cocktail glass with lime juice. Dip...,Shake and strain into a chilled cocktail glass.,Place all ingredients in a blender and blend u...,Rub rim of cocktail glass with lemon juice and...
strInstructionsDE,Reiben Sie den Rand des Glases mit der Limette...,Den Rand des Cocktailglases mit Limettensaft e...,Schütteln und in ein gekühltes Cocktailglas ab...,Alle Zutaten in einen Mixer geben und mischen.,Cocktailglasrand mit Zitronensaft und Tauchran...
strInstructionsES,None,None,None,None,None
strInstructionsFR,None,None,None,None,None
strInstructionsZH-HANS,None,None,None,None,None
strInstructionsZH-HANT,None,None,None,None,None
strMeasure1,1 1/2 oz,1 1/2 oz,4.5 cl,1 cup,1/2 oz
strMeasure10,None,None,None,None,None
strMeasure11,None,None,None,None,None
strMeasure12,None,None,None,None,None
strMeasure13,None,None,None,None,None
strMeasure14,None,None,None,None,None
strMeasure15,None,None,None,None,None
strMeasure2,1/2 oz,1 oz,1.5 cl,2 oz,1 oz
strMeasure3,1 oz,1 oz,2 spoons,1/4 cup,1/2 oz
strMeasure4,None,Coarse,None,3 tblsp fresh,1 oz
strMeasure5,None,None,None,None,1 oz
strMeasure6,None,None,None,None,None
strMeasure7,None,None,None,None,None
strMeasure8,None,None,None,None,None
strMeasure9,None,None,None,None,None
strTags,"IBA,ContemporaryClassic",None,"IBA,NewEra",None,None
strVideo,None,None,None,None,None

In [124]:
drinks = pd.read_json("https://www.thecocktaildb.com/api/json/v1/1/search.php?s=margarita")
drinks.head()

                                              drinks
0  {'idDrink': '11007', 'strDrink': 'Margarita', ...
1  {'idDrink': '11118', 'strDrink': 'Blue Margari...
2  {'idDrink': '17216', 'strDrink': 'Tommy's Marg...
3  {'idDrink': '16158', 'strDrink': 'Whitecap Mar...
4  {'idDrink': '12322', 'strDrink': 'Strawberry M...

In [ ]:
# requests also works with post type of requests