In [ ]:
# Attendance Calc

In [1]:
import pandas as pd

In [3]:
d1 = pd.read_excel('g1.xlsx')
d1.head()

,Persona,email,17.08,19.08,24.08,26.08,31.08,2.08,Unnamed: 8
0,ALEKSEJS ANČEVSKIS,alex.ancevskis@gmail.com,10,10,8,10,10,10,NaN
1,ARTJOMS NURMUHAMATOVS,artjoms.nurmuhamatovs@gmail.com,10,10,10,10,8,10,NaN
2,ROMĀNS BUTAKOVS,butakovroman@gmail.com,10,8,10,10,8,10,NaN
3,DĀVIS CIBULS,cibuls.davis@gmail.com,10,8,8,6,-,-,NaN
4,DMITRIJS GŅEVAŠEVS,dmitry.gnevashev@gmail.com,8,10,10,10,8,10,NaN

In [4]:
d2 = pd.read_excel('gr14.xlsx')
d2.head()

,Vārds,Uzvārds,email,18.08,20.08,25.08,27.08,1.09,3.09
0,AGRIS,AURMANIS,agris.aurmanis@gmail.com,10,10,10,10,10,10
1,ANDRIS,BĒRZIŅŠ,job.andris@gmail.com,10,10,10,10,10,10
2,Austris,Birkāns,Austris.birkans@gmail.com,10,10,10,10,10,-
3,DANIELS,BROKS,daniels_broks@inbox.lv,8,10,10,6,6,10
4,VITAUTS,BUDREIKA,vitauts@klints.com,10,10,10,10,10,10

In [5]:
d = pd.read_excel('PythonGrades.xlsx')
d.head()

,First name,Surname,ID number,Institution,Department,email,Quiz: Ievads Programmēšanā - Quiz (Real),Quiz: Python Mainīgie - Quiz (Real),"Quiz: Python - Quiz salidzināšana, if/elif/else, loģiskie operatori (Real)",Quiz: Python - Cikli - Quiz (Real),...,Quiz: Classes - QUIZ (Real),"Quiz: QUIZ Moduļi, Standarta Biblioteka (Real)",Quiz: QUIZ - Files (Real),"Quiz: QUIZ - Python PIP,Jupyter,Visualization (Real)",Quiz: QUIZ - JSON (Real),Assignment: Gala darbs (Real),Quiz: QUIZ - Web Scraping (Real),Quiz: QUIZ - Diena 16 (Real),Course total (Real),Last downloaded from this course
0,ĒRIKS,ĀBELE,NaN,NaN,NaN,eriks.abele@inbox.lv,8,10,10,-,...,-,-,-,-,-,-,-,-,28,1602675355
1,NATĀLIJA,ALEKSANDROVA,NaN,NaN,NaN,natalija.aleksandrova@inbox.lv,10,10,8,-,...,-,-,-,-,-,-,-,-,28,1602675355
2,SARMĪTE,ALEKSE,NaN,NaN,NaN,sarmite.alekse@gmail.com,10,10,8,10,...,-,-,-,-,-,-,-,-,48,1602675355
3,ILONA,AĻEKSEJEVA,NaN,NaN,NaN,slonija@gmail.com,10,10,-,-,...,-,-,-,-,-,-,-,-,20,1602675355
4,RŪTA,ALENČIKA,NaN,NaN,NaN,ruta.alencika@gmail.com,8,-,-,-,...,-,-,-,-,-,-,-,-,8,1602675355

In [7]:
d.describe(include='O').T

,count,unique,top,freq
First name,265,164,JĀNIS,11
Surname,265,254,VĒVERIS,2
Institution,1,1,TietoEVRY,1
email,265,265,eglite.kr@gmail.com,1
Quiz: Ievads Programmēšanā - Quiz (Real),265,4,10,180
Quiz: Python Mainīgie - Quiz (Real),265,5,10,151
"Quiz: Python - Quiz salidzināšana, if/elif/else, loģiskie operatori (Real)",265,6,10,123
Quiz: Python - Cikli - Quiz (Real),265,6,-,141
Quiz: String Quiz Pārbaude (Real),265,5,-,147
Quiz: Python Lists Quiz (Real),265,4,-,155
Quiz: Funkcijas - Tests (Quiz) (Real),265,3,-,161
Quiz: Dictionary Quiz (Real),265,4,-,175
Quiz: Sets and Tuples - QUIZ (Real),265,7,-,178
Quiz: Classes - QUIZ (Real),265,5,-,181
"Quiz: QUIZ Moduļi, Standarta Biblioteka (Real)",265,5,-,181
Quiz: QUIZ - Files (Real),265,5,-,186
"Quiz: QUIZ - Python PIP,Jupyter,Visualization (Real)",265,8,-,186
Quiz: QUIZ - JSON (Real),265,6,-,190
Assignment: Gala darbs (Real),265,5,-,180
Quiz: QUIZ - Web Scraping (Real),265,5,-,192
Quiz: QUIZ - Diena 16 (Real),265,8,-,195
Course total (Real),265,132,30,15

In [13]:
ge1 = list(d1.email)
ge1

['alex.ancevskis@gmail.com',
 'artjoms.nurmuhamatovs@gmail.com',
 'butakovroman@gmail.com',
 'cibuls.davis@gmail.com',
 'dmitry.gnevashev@gmail.com',
 'dzerveaa@gmail.com',
 'Edgars.Viksna@latloto.lv',
 'fricbergs@gmail.com',
 'frolova_anna@inbox.lv',
 'gatis.patmalnieks@gmail.com',
 'gbrakovskis@gmail.com',
 'ija.sorokina@inbox.lv',
 'info@pakalpojums.lv',
 'jurkins@inbox.lv',
 'kaspars.purinss@gmail.com',
 'katrina.kukuma@gmail.com',
 'Ljusja@tvnet.lv',
 'merita.baikovska@gmail.com',
 'miksru@gmail.com',
 'Nauris.Krumins@gmail.com',
 'ozolins.davis@icloud.com',
 'raivo.bauze@gmail.com',
 'reno.jekabsons@gmail.com',
 'Roberts.Auzins@fm.gov.lv',
 'sautinsjanis@gmail.com',
 'semjonovsj@inbox.lv',
 'skmara2@inbox.lv',
 'soulhunter@inbox.lv',
 'Swetikd@inbox.lv',
 'toms.mikelsons@gmail.com']

In [14]:
gr3 = d[d.email.isin(ge1)]
gr3.shape

(30, 25)

In [15]:
gr3.head()

,First name,Surname,ID number,Institution,Department,email,Quiz: Ievads Programmēšanā - Quiz (Real),Quiz: Python Mainīgie - Quiz (Real),"Quiz: Python - Quiz salidzināšana, if/elif/else, loģiskie operatori (Real)",Quiz: Python - Cikli - Quiz (Real),...,Quiz: Classes - QUIZ (Real),"Quiz: QUIZ Moduļi, Standarta Biblioteka (Real)",Quiz: QUIZ - Files (Real),"Quiz: QUIZ - Python PIP,Jupyter,Visualization (Real)",Quiz: QUIZ - JSON (Real),Assignment: Gala darbs (Real),Quiz: QUIZ - Web Scraping (Real),Quiz: QUIZ - Diena 16 (Real),Course total (Real),Last downloaded from this course
7,ALEKSEJS,ANČEVSKIS,NaN,NaN,NaN,alex.ancevskis@gmail.com,10,10,8,10,...,8,10,10,10,10,100,8,8,253.33,1602675355
13,Roberts,Auziņš,NaN,NaN,NaN,Roberts.Auzins@fm.gov.lv,10,10,10,10,...,10,10,10,10,8,90,10,8,242,1602675356
16,MERITA,BAIKOVSKA,NaN,NaN,NaN,merita.baikovska@gmail.com,8,10,10,10,...,8,8,8,8,10,100,10,10,242,1602675356
20,RAIVO,BAUZE,NaN,NaN,NaN,raivo.bauze@gmail.com,10,10,10,10,...,10,10,-,10,10,100,10,10,250,1602675356
33,GINTS,BRAKOVSKIS,NaN,NaN,NaN,gbrakovskis@gmail.com,10,8,-,-,...,4,4,2,6,2,-,-,-,66,1602675356

In [19]:
gr3.to_excel("gr3.xlsx")

In [16]:
ge2 = list(d2.email)
ge2

['agris.aurmanis@gmail.com',
 'job.andris@gmail.com',
 'Austris.birkans@gmail.com',
 'daniels_broks@inbox.lv',
 'vitauts@klints.com',
 'alyona.cimbalyuk@gmail.com',
 'pavels.derjagins@gmail.com',
 'frs.janis@gmail.com',
 'krisjanisg@gmail.com',
 'ieva.hermane@s1vsk.lv',
 'Kristina_katrechko@inbox.lv',
 'andris.kramzaks@gmail.com',
 'raimonds.krauklis@gmail.com',
 'j.kviesis@gmail.com',
 'lazdovskis.davis@gmail.com',
 'esperanse15@inbox.lv',
 'edgars.android@gmail.com',
 'rishardelux2@gmail.com',
 'jekaterina.a@inbox.lv',
 'arnis.rozentals@gmail.com',
 'kalvis.salins@gmail.com',
 'emsprogis@gmail.com',
 'maris.staltmanis@tele2.com',
 'dianast@inbox.lv',
 'hidra4@inbox.lv',
 'daira.toma@gmail.com',
 'zv@tcp.lv',
 'andris_ziemelis@inbox.lv',
 'Sandis_zvejnieks@inbox.lv',
 'martins.zviedris@gmail.com']

In [17]:
gr14 = d[d.email.isin(ge2)]
gr14.shape

(30, 25)

In [18]:
gr14.head()

,First name,Surname,ID number,Institution,Department,email,Quiz: Ievads Programmēšanā - Quiz (Real),Quiz: Python Mainīgie - Quiz (Real),"Quiz: Python - Quiz salidzināšana, if/elif/else, loģiskie operatori (Real)",Quiz: Python - Cikli - Quiz (Real),...,Quiz: Classes - QUIZ (Real),"Quiz: QUIZ Moduļi, Standarta Biblioteka (Real)",Quiz: QUIZ - Files (Real),"Quiz: QUIZ - Python PIP,Jupyter,Visualization (Real)",Quiz: QUIZ - JSON (Real),Assignment: Gala darbs (Real),Quiz: QUIZ - Web Scraping (Real),Quiz: QUIZ - Diena 16 (Real),Course total (Real),Last downloaded from this course
12,AGRIS,AURMANIS,NaN,NaN,NaN,agris.aurmanis@gmail.com,10,10,10,10,...,8,8,10,8,10,90,10,10,242,1602675356
23,ANDRIS,BĒRZIŅŠ,NaN,NaN,NaN,job.andris@gmail.com,10,10,10,10,...,10,10,10,10,10,95,10,-,245,1602675356
26,Austris,Birkāns,NaN,NaN,NaN,Austris.birkans@gmail.com,10,10,10,10,...,10,8,10,4.5,-,-,-,-,122.5,1602675356
34,DANIELS,BROKS,NaN,NaN,NaN,daniels_broks@inbox.lv,8,10,10,8,...,10,10,10,8,10,90,10,8,240,1602675356
35,VITAUTS,BUDREIKA,NaN,NaN,NaN,vitauts@klints.com,10,10,10,10,...,10,8,8,8,8,95,10,6,243,1602675356

In [20]:
gr14.to_excel("gr-14.xlsx")